form.sign-in-form
    .sign-in-form__container
        h2 Войти
        .sign-in-form__email-pass
            input(type="email" placeholder="Email" name="email" required)
            input(type="password" placeholder="Пароль" name="password" required)
        button.button.button-color.sign-in-form__button-sign-in войти
            img.sign-in-form__button-sign-in-img(src="img/arrow_forward-white.svg")
        .sign-in-form__sign-up
            p Нет аккаунта на Toxin?
            a(href='').button.sign-in-form__button-act создать