.sign-up-in-content {
    .sign-in-form {
        display: none;
        width: 380px;
        padding-bottom: 30px;
        .sign-in-form__email-pass {
            margin-bottom: 10px;
        }
        .sign-in-form__button-act {
            text-transform: uppercase;
            padding-left: 17px;
        }
    }
}
//Большая часть кода находится в sign-up.scss