
.button {
    color: #8BA4F9;
    background-color: transparent;
    font-weight: 600;
    font-size: 12px;
    border: 2px solid #8BA4F9;
    border-radius: 100px;
    padding: 7px 19px;
    &:hover {
        background-color: rgba(139,164,249,0.68);
        color: white;
        border: 2px solid #8BA4F9;
    }
    &:focus {
        background-color: rgba(139,164,249);
    }
}
.button-color {
    color: white;
    background-color: #8BA4F9;
    &:focus {
        background-color: white;
        color: #8BA4F9;
    }
}
