
.pagination
    .pagination__main
        a.pagination__first(href="#") 1
        a.pagination__second(href="#") 2
        a.pagination__third(href="#") 3
        span.pagination__dots ...
        a.pagination__fifteenth(href="#") 15
        a.pagination__next(href="#") <img class="pagination__img" src="img/arrow_forward-white.svg">
    p.pagination__text 1 – 12 из 100+ вариантов аренды
