.pagination
    .pagination__main
        a.pagination__first(href="index.pug") 1
        a.pagination__second(href="index.pug") 2
        a.pagination__third(href="index.pug") 3
        span.pagination__dots ...
        a.pagination__fifteenth(href="index.pug") 15
        a.pagination__next(href="index.pug") <img class="pagination__img" src="img/svg/arrow_forward-white.svg" alt="button">
    p.pagination__text 1 – 12 из 100+ вариантов аренды