.pagination {
    width: 241px;
    font-size: 12px;
}
.pagination__main {
    margin-bottom: 14px;
}
.pagination__text {
    font-size: 13.7px;
    text-align: center;
    letter-spacing: 0.15px;
    color: rgba(31, 32, 65, 0.75);
}
.pagination__first {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    padding: 13.5px 0;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    box-sizing: border-box;
    color: #fff;
    font-weight: 800;
    margin-right: 8px;
}
.pagination__second {
    margin-right: 15px;
    color: rgba(31, 32, 65, 0.5);
    display: inline-block;
    width: 25px;
    text-align: center;
    padding-top: 5px;
}
.pagination__third {
    margin-right: 23px;
    color: rgba(31, 32, 65, 0.5);
    display: inline-block;
    width: 25px;
    text-align: center;
    padding-top: 5px;
}
.pagination__dots {
    margin-right: 24px;
    color: rgba(31, 32, 65, 0.5);
}
.pagination__fifteenth {
    margin-right: 8px;
    color: rgba(31, 32, 65, 0.5);
    display: inline-block;
    width: 25px;
    text-align: center;
    padding-top: 5px;
}
.pagination__next {
    display: inline-block;
    width: 40px;
    padding: 20px 0;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 22px;
    vertical-align: middle;
    position: relative;
}
.pagination__img {
    position: absolute;
    top: 11px;
    left: 11px;
}