.main-search__container {
    width: 380px;
    background-color: #fff;
    padding: 39px 30px 30px 30px;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    color: #1F2041;
    display: inline-block; //ПОЗВОЛЯЕТ КОНТЕЙНЕРУ РАСШИРЯТЬСЯ В ЗАВИСИМОСТИ ОТ СОДЕРЖИМОГО
    .main-search__title {
        font-family: 'Open Sans';
        font-size: 24px;
        line-height: 30px;
        margin-top: 0;
        margin-left: 0.9px;
        margin-bottom: 10px;
    }
    .main-search__dates {
        position: relative;
        .main-search__dates-titles {
            display: flex;
            justify-content: space-between;
            margin-right: 102px;
            text-transform: uppercase;
            font-size: 10px;
            .main-search__dates-title {
                margin-bottom: 5px;
                letter-spacing: 0.3px;
            }
        }
        .main-search__input-fake-split {
            position: absolute;
            width: 22px;
            height: 44px;
            background-color: transparent;
            bottom: 0;
            left: 150px;
            z-index: 2;
        }
        .main-search__input-fake-split-left {
            position: absolute;
            width: 150px;
            height: 44px;
            background-color: transparent;
            bottom: 0;
            left: 0;
            border: 1px solid rgba(31, 32, 65, 0.25);
            border-radius: 4px;
            box-sizing: border-box;
        }
        .main-search__input-fake-split-right {
            position: absolute;
            width: 150px;
            height: 44px;
            background-color: transparent;
            bottom: 0;
            left: 171px;
            border: 1px solid rgba(31, 32, 65, 0.25);
            border-radius: 4px;
            box-sizing: border-box;
        }
    }
    .main-search__guests {
        margin-top: 20px;
        margin-bottom: 20px;
        .guests__adults-baby {
            width: 320px;
        }
    }
    .main-search__guests-title {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .datepicker-here {
        width: 320px;
        height: 44px;
        box-sizing: border-box;
        border: none;
        background-color: transparent;
        z-index: 1;
        padding-left: 16px;
        background-image: url(../img/arrow_down.svg), url(../img/arrow_down.svg);
        background-position: 116px 10px, 286px 10px;
    }
    .main-search__button {
        width: 320px;
        height: 44px;
        outline: none;
        cursor: pointer;
        margin-top: 11px;
        position: relative;
        text-transform: uppercase;
        .main-search__arrow-forward {
            position: absolute;
            right: 11px;
            bottom: 11px;
        }
    }
}

//MEDIA 
@media(max-width:400px) {
    .main-search__container {
        width: 95%;
        padding: 39px 20px 30px 20px;
        .main-search__dates {
            .main-search__dates-titles {
                justify-content: unset;
                .main-search__dates-title:first-child {
                    margin-right: 95px;
                }
            }
        }
    }
}
@media(max-width:390px) {
    .main-search__container {
        padding: 39px 14px 30px 11px;
    }
}
@media(max-width:380px) {
    .main-search__container {
        padding: 39px 12px 30px 8px;
    }
}