.main-search__container {
    width: 380px;
    height: 374px;
    background-color: #fff;
    padding: 40px 30px 30px 30px;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    .main-search__title {
        margin: 0;
    }
    .main-search__dates {
        position: relative;
        .main-search__dates-titles {
            display: flex;
            justify-content: space-between;
            margin-right: 95px;
            text-transform: uppercase;
            font-size: 10px;
        }
        .main-search__input-fake-split {
            position: absolute;
            width: 22px;
            height: 44px;
            background-color: transparent;
            bottom: 0;
            left: 150px;
            z-index: 2;
        }
        .main-search__input-fake-split-left {
            position: absolute;
            width: 150px;
            height: 44px;
            background-color: transparent;
            bottom: 0;
            left: 0;
            border: 1px solid rgba(31, 32, 65, 0.25);
            border-radius: 4px;
            box-sizing: border-box;
        }
        .main-search__input-fake-split-right {
            position: absolute;
            width: 150px;
            height: 44px;
            background-color: transparent;
            bottom: 0;
            left: 171px;
            border: 1px solid rgba(31, 32, 65, 0.25);
            border-radius: 4px;
            box-sizing: border-box;
        }
    }
    .datepicker-here {
        width: 320px;
        height: 44px;
        box-sizing: border-box;
        border: none;
        background-color: transparent;
        z-index: 1;
        padding-left: 16px;
        background-image: url(../img/arrow_down.svg), url(../img/arrow_down.svg);
        background-position: 116px 10px, 286px 10px;
    }
}
