head
    link(href="blocks/_commons/guests/guests.scss" rel="stylesheet" type="text/css")
body
    .dropdown
        .guests__container
            ul
                li.guests__dropdown
                    .guests__adults-baby
                        a#guests__text(href="#" data-toggle="dropdown") 0 гостей
                        span.guests__text-baby
                    ul.guests__dropdown-menu
                        .guests__dropdown-content
                            li.adults__number.guests__number
                                span.guests_title взрослые
                                .guests__amount
                                    span.guests__minus.guests__click-minus -
                                        .guests__circle.guests__circle-minus
                                    input.guests__input(type="text" value="0" size="5" readonly)
                                    span.guests__plus.guests__click +
                                        .guests__circle.guests__circle-plus
                            li.kids__number.guests__number
                                span.guests_title дети
                                .guests__amount
                                    span.guests__minus.guests__click-minus -
                                        .guests__circle.guests__circle-minus
                                    input.guests__input(type="text" value="0" size="5" readonly)
                                    span.guests__plus.guests__click +
                                        .guests__circle.guests__circle-plus
                            li.baby__number.guests__number
                                span.guests_title младенцы
                                .guests__amount
                                    span.guests__minus.guests__click-baby-minus -
                                        .guests__circle.guests__circle-minus
                                    input.guests__input(type="text" value="0" size="5" readonly)
                                    span.guests__plus.guests__click-baby +
                                        .guests__circle.guests__circle-plus
    script(src="blocks/_commons/guests/guests.js")
