head
    link(href="blocks/_commons/guests/guests.scss" rel="stylesheet" type="text/css")
body
    .dropdown
        .guests__container
            ul
                li.guests__dropdown
                    .guests__adults-baby
                        a#guests__text(href="#" data-toggle="dropdown") 0 гостей<span class="guests__text-baby"></span>
                        //- span.guests__text-baby
                    ul.guests__dropdown-menu
                        .guests__dropdown-content
                            li.adults__number.guests__number
                                span.guests_title взрослые
                                .guests__amount
                                    button.guests__minus.guests__click-minus.guests__minus-adults -
                                        .guests__circle.guests__circle-minus.guests__circle-minus-adults
                                    input.guests__input(type="text" value="0" size="5" readonly)
                                    button.guests__plus.guests__click.guests__plus-adults +
                                        .guests__circle.guests__circle-plus.guests__circle-plus-adults
                            li.kids__number.guests__number
                                span.guests_title дети
                                .guests__amount
                                    button.guests__minus.guests__click-minus.guests__minus-kids -
                                        .guests__circle.guests__circle-minus.guests__circle-minus-kids
                                    input.guests__input(type="text" value="0" size="5" readonly)
                                    button.guests__plus.guests__click.guests__plus-kids +
                                        .guests__circle.guests__circle-plus.guests__circle-plus-kids
                            li.baby__number.guests__number
                                span.guests_title младенцы
                                .guests__amount
                                    button.guests__minus.guests__click-baby-minus -
                                        .guests__circle.guests__circle-minus.guests__circle-minus-baby
                                    input.guests__input(type="text" value="0" size="5" readonly)
                                    button.guests__plus.guests__click-baby +
                                        .guests__circle.guests__circle-plus.guests__circle-plus-baby
    script(src="blocks/_commons/guests/guests.js")
