
.guests__adults-baby {
	display: flex;
	position: relative;
	.guests__text-baby {
		margin-top: 10px;
		color: rgba(31, 32, 65, 0.75);
		font-weight: normal;
		text-transform: none;
		font-size: 14px;
	}
}

.guests__dropdown-menu {
	padding-inline-start: 0;
	margin-left: 10px;
	.guests__dropdown-content {
		margin-top: 13px;
	}
	.guests__amount {
		margin-right: 15px;
	}
	.guests__number {
		margin-bottom: 17px;
		display: flex;
		justify-content: space-between;
	}
	.guests__input {
		border: none;
		width: 54px;
		background-color: transparent;
		text-align: center;
		font-weight: 800;
		color: #1F2041;
		outline: none;
	}
	.guests__minus, .guests__plus {
		font-size: 18px;
		font-weight: 400;
		color: rgba(31, 32, 65, 0.5);
		border: none;
		background-color: transparent;
		outline: none;
	}
	.guests__circle {
		cursor: pointer;
		width: 30px;
		height: 30px;
		border-radius: 22px;
		background-color: transparent;
		border: 1px solid rgba(31, 32, 65, 0.25);
	}
	.guests__minus {
		position: relative;
	}
	.guests__minus-adults, .guests__circle-minus-adults, .guests__minus-kids, .guests__circle-minus-kids, .guests__click-baby-minus, .guests__circle-minus-baby {
		color: rgba(31, 32, 65, 0.25);
		border-color: rgba(31, 32, 65, 0.15);
	}
	.guests__circle-minus {
		position: absolute;
		top: -4px;
		left: -5.5px;
	}
	.guests__plus {
		position: relative;
	}
	.guests__circle-plus {
		position: absolute;
		top: -5px;
		left: -4px;
	}
}

.text-center {
  text-align: center;
}

*, *:before, *:after {
	-webkit-border-sizing: border-box;
	-moz-border-sizing: border-box;
	box-sizing: border-box;
}

.guests__container {
	width: 100%;
	// margin: 50px auto;
  
  & > ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
  }
}

// =============================================================================
//	Mixins and Variables
// =============================================================================

$blue: #2980B9;
$gray: #EEE;

@mixin ul-nostyle {
	list-style: none;
	padding: 0;
	margin: 0;
}



@mixin hover-style($color) {
	&:hover {
		background: lighten($color, 3%);
	}
}

@mixin animation($content) {
  animation: $content;
  -moz-animation: $content;
  -webkit-animation: $content;
}

@mixin keyframes($name) {
  @keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-webkit-keyframes #{$name} { @content; }
}

// =============================================================================
//	Classes dropdown
// =============================================================================

// .title {
//   font-family: 'Pacifico';
//   font-weight: norma;
//   font-size: 40px;
//   text-align: center;
//   line-height: 1.4;
//   color: $blue;
// }

.guests__dropdown {
	a {
		text-decoration: none;
	}

	.guests__adults-baby {
		font-weight: normal;
		font-size: 14px;
		position: relative;
		display: block;
		color: rgba(31, 32, 65, 0.75);
		border: 1px solid rgba(31, 32, 65, 0.25);
		border-radius: 4px;
		width: 266px;
		height: 44px;
		padding: 10px;
		text-transform: none;
	}
	.icon-arrow {
		position: absolute;
		display: block;
		font-size: 0.7em;
		color: #fff;
		top: 14px;
		right: 10px;

		

		&:before {
			content: '\25BC';
		}
	}

	.guests__dropdown-menu {
		max-height: 0;
		overflow: hidden;

		li {
			padding: 0;

			a {
				display: block;
				color: darken($gray, 50%);
				background: $gray;
				padding: 10px 10px;
			}
		}
	}

	.show {
		display: block;
		max-height: 9999px;
	}

	.hide {
		max-height: 0;
	}
}
.guests__buttons {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	margin-top: 18px;
	padding: 6px 4px 25px; }
  
  .guests__button {
	font-weight: 800;
	color: #BC9CFF;
	cursor: pointer;
	border-radius: 4px;
	display: inline-flex;
	align-items: center;
	height: 0; }
	.guests__button[data-action="clear"] {
	  color: rgba(31, 32, 65, 0.5);
	}
	.guests__button:hover {
	  color: rgba(31, 32, 65, 0.5);
	  background: #f8f8f8; }