.room__photos {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.room__photo-1 {
    background-image: url(../img/room/room.jpg);
    width: 981px;
}

.room__photo-2 {
    background-image: url(../img/room/room-2.jpg);
    width: 459px;
    height: 242px;
}

.room__photo-3 {
    background-image: url(../img/room/room-3.jpg);
    width: 459px;
    height: 242px;
}

.room__photo-1-repeat {
    background-image: url(../img/room/room.jpg);
    width: 459px;
    height: 242px;
    display: none;
}

@media(max-width: 760px) {
    .room__photos {
        .room__photo-1 {
            display: none;
        }
        .room__photo-1-repeat {
            display: block;
            background-size: cover;
        }
    }
}