doctype html
html(lang="en")
    head
    body
        .full-stars
            .rating-group
                label.rating__label(aria-label='1 star' for= num)
                    i.rating__icon--star
                input.rating__input(id= id name= name value='1' type='radio')
                label.rating__label(aria-label='2 stars' for= num2)
                    i.rating__icon--star
                input.rating__input(id= id2 name= name2 value='2' type='radio')
                label.rating__label(aria-label='3 stars' for= num3)
                    i.rating__icon--star
                input.rating__input(id= id3 name= name3 value='3' type='radio' checked=checked)
                label.rating__label(aria-label='4 stars' for= num4)
                    i.rating__icon--star
                input.rating__input(id= id4 name= name4 value='4' type='radio' checked=checked2)
                label.rating__label(aria-label='5 stars' for= num5)
                    i.rating__icon--star
                input.rating__input(id= id5 name= name5 value='5' type='radio')