.full-stars {

  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  .rating-group {
    display: inline-flex;
  }
  
  /* hide radio inputs */
  .rating__input {
    position: absolute !important;
    left: -9999px !important;
  }
  
  /* set default star color */
  .rating__icon--star {
    background-image: url(../img/star.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: block;
  }

  /* if any input is checked, make its following siblings bordered */
  .rating__input:checked ~ .rating__label .rating__icon--star {
    background-image: url(../img/star_border.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: block;
  }
  
  /* make all stars colored on rating group hover */
  .rating-group:hover .rating__label .rating__icon--star {
    background-image: url(../img/star.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: block;
  }

  /* make hovered input's following siblings bordered on hover */
  .rating__input:hover ~ .rating__label .rating__icon--star {
    background-image: url(../img/star_border.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: block;
  }
}