.photo-room {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.photo-room__1 {
    background-image: url(../img/room/room.jpg);
    width: 981px;
}

.photo-room__2 {
    background-image: url(../img/room/room-2.jpg);
    width: 459px;
    height: 242px;
}

.photo-room__3 {
    background-image: url(../img/room/room-3.jpg);
    width: 459px;
    height: 242px;
}

.photo-room__4 {
    background-image: url(../img/room/room.jpg);
    width: 459px;
    height: 242px;
    display: none;
}

@media(max-width: 760px) {
    .photo-room {
        margin-bottom: 18px;
        .photo-room__1 {
            display: none;
        }
        .photo-room__4 {
            display: block;
            background-size: cover;
        }
    }
}