.reviews-room__reviews {
    margin-bottom: 3px;
    color: rgba(31, 32, 65, 0.75);
    .reviews-room__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 11px;
        .reviews-room__title-num {
            font-size: 14px;
            font-weight: 400;
            color: rgba(31, 32, 65, 0.5);
            margin-right: 3.5px;
            margin-top: 4px;
        }
    }
    .reviews-room__comment {
        display: flex;
    }
    .reviews-room__comment-avatar {
        position: absolute;
        left: -20px;
        top: -1.5px;
    }
    .reviews-room__comment-like {
        display: flex;
        margin-top: 64px;
        border-radius: 10px;
        width: 40px;
        height: 20px;
        padding: 3px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        background: #fff;
        z-index: 2;
        outline: none;
        cursor: pointer;
    }
    .reviews-room__like-number {
        color: rgba(31, 32, 65, 0.25);
        font-size: 10px;
    }
    .reviews-room__active-like {
        border-color: #BC9CFF;
        color: #BC9CFF;
    }
    .reviews-room__comment-img, .reviews-room__comment-img-like {
        width: 9px;
        height: 8px;
        margin-top: 2px;
        margin-left: 2px;
        margin-right: 6px;
        background-repeat: no-repeat;
    }
    .reviews-room__comment-img {
        background-image: url(../img/reviews-room__comment/like-2.svg);
    }
    .reviews-room__comment-img-like {
        background-image: url(../img/reviews-room__comment/like.svg);
    }
    .reviews-room__comment-images-1, .reviews-room__comment-images-2 {
        //background-color: antiquewhite;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-right: 10px;
        padding-top: 5px;
        position: relative;
        width: 47.67px;
        height: 80px;
        //align-items: center;
 
    }
    .reviews-room__comment-name {
        font-weight: 800;
        margin-bottom: 15px;
        span {
            display: block;
            font-weight: 400;
            margin-top: 8px;
        }
    }
    .reviews-room__comment-text {
        width: 653px;
        //width: 99%;
        line-height: 24px;
        }
}

.reviews-room__rules-list {
    width: 260px;
}