.reviews-room__circle {
    position:relative;
    width:120px;
    height:120px;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quarter {
    position:absolute;
    width:50%;
    height:50%;
}
.quarter2 {
    top:0;
    right:0;
    background: rgb(188,156,255);
    background: linear-gradient(174deg, rgba(188,156,255,1) 0%, rgba(139,164,249,1) 100%);
    border-radius:0 100% 0 0;
}
.quarter3 {
    bottom:0;
    left:0;
    background: rgb(255,186,156);
    background: linear-gradient(0deg, rgba(255,186,156,1) 0%, rgba(255,227,156,1) 100%);
    border-radius:100%;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.quarter4 {
    bottom:0;
    right:0;
    background: rgb(111,207,151);
    background: linear-gradient(174deg, rgba(111,207,151,1) 0%, rgba(102,210,234,1) 100%);
    border-radius:0 0 100% 0;
}
.cutout {
    width:93%;
    height:93%;
    background-color:white;
    position:absolute;
    top:3.5%;
    left:3.7%;
    border-radius:50%;
    pointer-events:none;
}

.vl {
    border-left: 2px solid #fff;
    height: 120px;
    position: absolute;
    left: 50%;
    top: 0;
}

.hl {
    border-bottom: 2px solid #fff;
    width: 116px;
    position: absolute;
    left: 4%;
    top: 49%;
}

.votes {
    font-size: 15px;
    font-weight: 600;
    color: #BC9CFF;
    position: absolute;
    z-index: 1;
    bottom: 39px;
    text-align: center;
    .votes-num_num {
        font-size: 22px;
        letter-spacing: -0.5px;
    }
    .votes-word_word {
        font-size: 16px;
        letter-spacing: -0.5px;
    }
}
