/* montserrat-regular - cyrillic_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/montserrat-v14-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../../fonts/montserrat-v14-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/montserrat-v14-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/montserrat-v14-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/montserrat-v14-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/montserrat-v14-cyrillic_latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - cyrillic_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../../fonts/montserrat-v14-cyrillic_latin-600.eot'); /* IE9 Compat Modes */
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('../../fonts/montserrat-v14-cyrillic_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/montserrat-v14-cyrillic_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/montserrat-v14-cyrillic_latin-600.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/montserrat-v14-cyrillic_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/montserrat-v14-cyrillic_latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../../fonts/montserrat-v14-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/montserrat-v14-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/montserrat-v14-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/montserrat-v14-latin_cyrillic-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/open-sans-v17-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../../fonts/open-sans-v17-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/open-sans-v17-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/open-sans-v17-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/open-sans-v17-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/open-sans-v17-latin_cyrillic-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../../fonts/open-sans-v17-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('../../fonts/open-sans-v17-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/open-sans-v17-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/open-sans-v17-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/open-sans-v17-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/open-sans-v17-latin_cyrillic-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/open-sans-v17-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../../fonts/open-sans-v17-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/open-sans-v17-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/open-sans-v17-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/open-sans-v17-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/open-sans-v17-latin_cyrillic-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../../fonts/open-sans-v17-latin_cyrillic-800.eot'); /* IE9 Compat Modes */
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
       url('../../fonts/open-sans-v17-latin_cyrillic-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/open-sans-v17-latin_cyrillic-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/open-sans-v17-latin_cyrillic-800.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/open-sans-v17-latin_cyrillic-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/open-sans-v17-latin_cyrillic-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}