.footer {
    .top__footer {
        padding-top: 98px;
        border: 1px solid;
        border-color:  #fff #fff rgba(31, 32, 65, 0.1) #fff;
    }
    // @media (max-width: 860px) {
    //     .top__footer {
    //         padding-top: 1px;
    //     }  
    // }
}