html{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    body{
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }
}

body {
    font-family: 'Montserrat';
    font-size: 14px;
    a {
        text-decoration: none;
    }
    ul {
        list-style-type: none;
    }
}

.wrap {
    max-width: 1160px;
    margin: 0 auto;
    padding-left: 54px;
    padding-right: 54px;
}

.content-wrap {
    max-width: 1160px;
    margin: 0 auto;
    padding-left: 140px;
    padding-right: 140px;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url(../img/1.jpg);
    background-position: -42px -128px;
    background-repeat: no-repeat;
    background-size: 106%;
    padding-top: 70px;
    padding-bottom: 300px;
    min-height: calc(100vh - 620px);
    position: relative;
}

.content__text {
    max-width: 1060px;
    text-align: right;
    line-height: 23px;
    margin-top: 373px;
    top: 70px;
    bottom: 15px;
    right: 134px;
    position: absolute;
    .content__text-string {
        display: inline-block;
        margin-top: 320px;
        color: rgba(31, 32, 65, 0.75);
        width: 310px;
    }
}

.sign-up-in-content {
    background-image: url(../img/image_4.1.jpg);
    background-position: center -70px;
    width: 1440px;
    padding-bottom: 17px;
    padding-top: 19px;
    .sign-in-form {
        margin-bottom: 144px;
        margin-top: 145px;
    }
}

.room-content {
    display: flex;
    justify-content: space-between;
    min-height: calc(100vh - 620px);
}

//MEDIA
@media (max-width: 1462px) {
    .content {
        background-size: 1530px;
        background-position: 50% -128px;
    }
}
@media (max-width: 1055px) {
    header.header {
        .wrap {
            padding-right: 15px;
        }
    }
}
@media (max-width: 723px) {
    body {
        min-width: 600px;
    }
    .content {
        background-size: 1530px;
        background-position: 50% -128px;
    }
}
@media (max-width: 636px) {
    body {
        .content-wrap {
            padding: 0;
            padding-top: 70px;
            padding-bottom: 300px;
            .main-search__container {
                margin-left: 40px;
            }
        }
    }
    .content {
        background-size: 1530px;
        background-position: 50% -128px;
    }
}
@media (max-width: 577px) {
    body {
        min-width: 400px;//НЕ ПОЗВОЛЯЕТ ПОЯВИТЬСЯ ПРОКРУТКЕ И ДАЕТ СУЖАТЬСЯ СТРАНИЦЕ
    }
}
@media (max-width: 390px) {
    body {
        min-width: 300px;//НЕ ПОЗВОЛЯЕТ ПОЯВИТЬСЯ ПРОКРУТКЕ И ДАЕТ СУЖАТЬСЯ СТРАНИЦЕ
    }
}
@media (max-height: 1100px) {
    .content {
        min-height: 480px;;
    }
}