html{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    body{
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }
}//НУЖНО, ЧТОБЫ СПАРВА НЕ ПОЯВЛЯЛОСЬ ПУСТОЕ МЕСТО И НЕ ПОЯВЛЯЛСЯ ГОРИЗОНТАЛЬНЫЙ СКРОЛЛ

body {
    font-family: 'Montserrat';
    font-size: 14px;
    a {
        text-decoration: none;
    }
    ul {
        list-style-type: none;
    }
}

.wrap {
    max-width: 1160px;
    margin: 0 auto;
    padding-left: 54px;
    padding-right: 54px;
}

.content-wrap {
    max-width: 1160px;
    margin: 0 auto;
    padding-left: 140px;
    padding-right: 140px;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url(../img/1.png);
    background-position: -42px -128px;
    background-repeat: no-repeat;
    background-size: 106%;
    height: 760px;
    padding-top: 70px;
    position: relative;
}

.content__text {
    max-width: 297px;
    text-align: right;
    line-height: 23px;
    margin-bottom: 7px;
    position: absolute;
    bottom: 15px;
    right: 133px;
    .content__text-string {
        color: rgba(31, 32, 65, 0.75);
    }
}

.sign-up-in-content {
    background-image: url(../img/image_4.1.png);
    background-position: center -70px;
    width: 1440px;
    height: 684px;
}

.room-content {
    display: flex;
    justify-content: space-between;
}

//MEDIA
@media (max-width: 1462px) {
    .content {
        background-size: 1530px;
        background-position: 50% -128px;
    }
}
@media (max-width: 1055px) {
    header.header {
        .wrap {
            padding-right: 15px;
        }
    }
}
@media (max-width: 723px) {
    .content__text {
        right: 5%;
    }
}
@media (max-width: 723px) {
    body {
        min-width: 600px;
    }
    .content {
        background-size: 1530px;
        background-position: 50% -128px;
    }
}
@media (max-width: 636px) {
    body {
        .content-wrap {
            padding: 0;
            padding-top: 70px;
            .main-search__container {
                margin: 0 auto;
            }
        }
    }
    .content {
        background-size: 1530px;
        background-position: 50% -128px;
    }
}
@media (max-width: 554px) {
    body {
        min-width: 400px;//НЕ ПОЗВОЛЯЕТ ПОЯВИТЬСЯ ПРОКРУТКЕ И ДАЕТ СУЖАТЬСЯ СТРАНИЦЕ
    }
}
@media (max-width: 390px) {
    body {
        min-width: 300px;//НЕ ПОЗВОЛЯЕТ ПОЯВИТЬСЯ ПРОКРУТКЕ И ДАЕТ СУЖАТЬСЯ СТРАНИЦЕ
    }
}