@import 'normalize.css';
@import 'fonts.scss';
@import 'main.scss';
@import 'ui-kit.scss';
@import '../blocks/_commons/main-search/main-search.scss';
@import '../blocks/_commons/header/header.scss';
@import '../blocks/_commons/footer/footer.scss';
@import '../blocks/_commons/sign-up/sign-up.scss';
@import '../blocks/_commons/sign-in/sign-in.scss';
@import '../blocks/room/photo-room/photo-room.scss';
@import '../blocks/room/room-content/reviews-room/reviews-room.scss';
@import '../blocks/_commons/reservation/reservation.scss';
@import '../blocks/_commons/number-rate/number-rate.scss';
@import '../blocks/search-room/search-room.scss';
@import '../blocks/_commons/pagination/pagination.scss';
@import '../blocks/search-room/search-room__filter/search-room__filter.scss';
@import '../blocks/search-room/search-room__filter/search-room__filter-convenience-additional/search-room__filter-convenience-additional.scss';
@import '../blocks/_commons/stars/stars.scss';

@media (max-width: 565px) {
    .header {
        .wrap {
            padding-left: 3%;
        }
    }
}
    