@import 'normalize.css';
@import 'fonts.scss';
@import 'main.scss';
@import '../blocks/_commons/header/header.scss';
@import '../blocks/_commons/footer/footer.scss';
@import '../blocks/room/photo-room/photo-room.scss';
@import '../blocks/room/room-content/reviews-room/reviews-room.scss';