.sign-up-content {
    display: flex;
    justify-content: center;
    .sign-up-form {
        margin-top: 19px;
        background-color: #fff;
    }
}

.sign-up-form {
    width: 380px;
    height: 646px;
    padding: 23px 20px 20px 30px;
    box-sizing: border-box;
    h2, h3 {
        color: #1F2041;
    }

    h2 {
        font-size: 23px;
        margin-bottom: 21px;
    }

    h3 {
        font-size: 12px;
        text-transform: uppercase;
    }
    
    input::placeholder {
        color: rgba(31, 32, 65, 0.25);
    }
    
    input {
        color: rgba(31, 32, 65, 0.25);
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        margin-bottom: 10px;
        display: block;
        padding: 13px 137px 13px 13px;
    }
    .sign-up-form__sex, .sign-up-form__male, .sign-up-form__female, .sign-up-form__checkbox, .sign-up-form__sign-in {
        display: flex;
        .sign-up-form__male, .sign-up-form__female {
            position: relative;
            align-items: center;
            p::before {
                content: '';
                display: inline-block;
                width: 1.3em;
                height: 1.3em;
                flex-shrink: 0;
                flex-grow: 0;
                border: 1px solid #adb5bd;
                border-radius: 1em;
            }
            input:checked+p::before {
                background-color: #BC9CFF;
            }
            p {
                margin-top: 4.5px;
                margin-right: 15px;
            }
            input {
                margin-right: 20px;
                position: absolute;
                top: 8px;
                left: 4px;
                opacity: 0;
            }
        }
    }
    .sign-up-form__sign-in {
        justify-content: space-between;
    }
}

