.sign-up-content {
    display: flex;
    justify-content: center;
    .sign-up-form {
        margin-top: 19px;
        background-color: #fff;
    }
}

.sign-up-form {
    width: 380px;
    height: 646px;
    padding: 23px 20px 20px 30px;
    box-sizing: border-box;
    h2, h3 {
        color: #1F2041;
    }

    h2 {
        font-size: 23px;
        margin-bottom: 21px;
    }

    h3 {
        font-size: 12px;
        text-transform: uppercase;
    }
    
    input::placeholder {
        color: rgba(31, 32, 65, 0.25);
    }
    
    input {
        color: rgba(31, 32, 65, 0.25);
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        margin-bottom: 10px;
        display: inline-block;
        padding: 13px 137px 13px 13px;
    }
    .sign-up-form__sex, .sign-up-form__male, .sign-up-form__female, .sign-up-form__sign-in {
        display: flex;
        .sign-up-form__male, .sign-up-form__female {
            position: relative;
            align-items: center;
            input {
                position: absolute;
                opacity: 0;
            }
            .sign-up-form__fake-radio {
                display: inline-block;
                width: 20px;
                height: 20px;
                border: 1px solid rgba(31, 32, 65, 0.25);
                box-sizing: border-box;
                border-radius: 10px;
                position: relative;
            }
            .sign-up-form__fake-radio:before {
                content: '';
                width: 12px;
                height: 12px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                display: block;
                background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                border-radius: 10px;
                opacity: 0;
            }
            input:checked + .sign-up-form__fake-radio:before {
                opacity: 1;
            }
        }
    }
    .sign-up-form__sign-in {
        justify-content: space-between;
    }
}

