.sign-up-in-content {
    display: flex;
    justify-content: center;
    width: 100%;
    background-repeat: no-repeat;
    .sign-up-form, .sign-in-form {
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.12);
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        .sign-up-form__container, .sign-in-form__container {
            h2 {
                font-family: 'Open Sans';
                font-size: 24px;
            }
            input {
                color: black;
                outline: none;
            }
            .sign-up-form__date {
                input {
                    color: rgba(31, 32, 65, 0.25);
                    font-size: 16px;
                    appearance: none;
                }
                input::-webkit-calendar-picker-indicator {
                    display: none;
                }
            }
            .button.button-color.sign-up-form__button-pay, .sign-in-form__button-sign-in {
                position: relative;
            }
            .sign-up-form__button-pay-img, .sign-in-form__button-sign-in-img {
                position: absolute;
                right: 12px;
                bottom: 10px;
            }
        }
    }
}

.sign-up-form, .sign-in-form {
    width: 380px;
    padding: 23px 20px 20px 30px;
    box-sizing: border-box;
    h2, h3 {
        color: #1F2041;
    }

    h2 {
        font-size: 23px;
        margin-bottom: 21px;
        margin-top: 17px;
    }

    h3 {
        font-size: 12px;
        text-transform: uppercase;
    }
    input::placeholder {
        color: rgba(31, 32, 65, 0.25);
    }
    .sign-up-form__name-surname, .sign-up-form__date, .sign-up-form__email-pass, .sign-in-form__email-pass {
        input {
            color: rgba(31, 32, 65, 0.25);
            border: 1px solid rgba(31, 32, 65, 0.25);
            border-radius: 4px;
            margin-bottom: 10px;
            display: inline-block;
            width: 264px;
            padding: 13px 40px 13px 13px;
            outline: none;
        }
        input:hover, input:focus {
            border: 1px solid rgba(31, 32, 65, 0.5);
        }
    }
    .sign-up-form__sex {
        margin-bottom: 25px;
    }
    .sign-up-form__sex, .sign-up-form__male, .sign-up-form__female, .sign-up-form__sign-in {
        display: flex;
        .sign-up-form__male, .sign-up-form__female {
            label {
                color: rgba(31, 32, 65, 0.5);
            }
            input {
                opacity: 0;
                position: absolute;
            }
            .sign-up-form__fake-radio {
                display: inline-block;
                width: 20px;
                height: 20px;
                border: 1px solid rgba(31, 32, 65, 0.25);
                box-sizing: border-box;
                border-radius: 10px;
                position: relative;
                margin-right: 10px;
                vertical-align: middle;
            }
            .sign-up-form__fake-radio:before {
                content: '';
                width: 12px;
                height: 12px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                display: block;
                background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                border-radius: 10px;
                opacity: 0;
                transition: 0.4s;
            }
            input:checked + .sign-up-form__fake-radio:before {
                opacity: 1;
            }
            input:checked ~ .sign-up-form__span-male-female {
                color: rgba(31, 32, 65, 0.75);
            }
            .sign-up-form__span-male-female {
                margin-right: 20px;
                margin-top: 0;
            }
        }
    }
    .sign-up-form__date, .sign-up-form__email-pass {
        h3 {
            margin-bottom: 6px;
        }
        input {
            height: 16px;
        }
    }
    .sign-up-form__checkbox {
        margin-bottom: 27px;
        input {
            opacity: 0;
            position: absolute;
        }
        .sign-up-form__fake-checkbox {
            float: left;
            width: 40px;
            height: 20px;
            border: 1px solid rgba(31, 32, 65, 0.25);
            box-sizing: border-box;
            border-radius: 10px;
            position: relative;
            margin-right: 10px;
        }
        .sign-up-form__fake-checkbox:before {
            content: '';
            position: absolute;
            left: 9%;
            top: 19%;
            display: block;
            width: 12px;
            height: 12px;
            background: rgba(31, 32, 65, 0.25);
            border-radius: 10px;
            transition: 0.4s;
        }
        input:checked + .sign-up-form__fake-checkbox:before {
            transform: translate(20px);
            background-color: #fff;
        }
        input:checked + .sign-up-form__fake-checkbox {
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            border: 1px solid #BC9CFF;
        }
        .sign-up-form__span-checkbox {
            color: rgba(31, 32, 65, 0.75);
        }
    }
    .sign-up-form__sign-in {
        margin-bottom: 10px;
    }
    .sign-up-form__sign-in, .sign-in-form__sign-up {
        display: flex;
        width: 320px;
        justify-content: space-between;
        .button {
            width: 99px;
            height: 44px;
            box-sizing: border-box;
            text-align: center;
            padding-top: 13px;
        }
    }
    .sign-up-form__button-pay, .sign-in-form__button-sign-in {
        margin-bottom: 31px;
        outline: none;
    }
}