.search-room {
    display: flex;
    .search-room__filter {
        margin-top: 30px;
        width: 266px;
        margin-right: 60px;
        *, *:before, *:after {
            -webkit-border-sizing: border-box;
            -moz-border-sizing: border-box;
            box-sizing: border-box;
        }
    }
    .search-room__room-list {
        margin-top: 11px;
        .search-room__room-list-text {
            font-size: 24px;
            font-family: 'Open Sans';
            color: #1F2041;
        }
        .search-room__room-list-pagination {
            padding: 0 290px;
            margin-top: 40px;
            margin-bottom: 75px;
        }
    }
    .search-room-room-list__rooms {
        display: grid;
        grid-template-rows: 8px 8px 8px;
        grid-template-columns: 12px 12px 12px;
        grid-gap: 270px;
        margin-top: 22px;
    }
}
@media(max-width: 1240px) {
    .search-room {
        .search-room__filter {
            margin-right: 20px;
        }
        .search-room-room-list__rooms {
            grid-template-rows: 8px 8px 8px 8px;
            grid-template-columns: 12px 12px 12px;
            grid-gap: 20vw;
        }
    }
    .number-rate-container {
        width: 225px;
        height: 213px;
        .number-rate__photo-slider {
            width: 225px;
            margin-bottom: 0;
            height: 123px;
        }
        .number-rate__img {
            width: 225px;
        }
        .number-rate__name-price-rating-reviews {
            width: 220px;
            .number-rate__line {
                width: 220px;
            }
        }
    }
    .search-room__room-list-text {
        width: 50vw;
    }
    .search-room__room-list {
        min-width: 550px;
        margin: 0 auto;
    }
}

@media(max-width: 1069px) {
    .search-room {
        padding-left: 30px;
        .search-room__filter {
            margin-top: 62px;
            margin-right: 4px;
        }
        .search-room-room-list__rooms {
            grid-template-rows: 8px 8px 8px 8px;
            grid-template-columns: 12px 12px 12px;
            grid-gap: 21vw;
        }
    }
    .number-rate-container {
        width: 205px;
        height: 213px;
        .number-rate__photo-slider {
            width: 205px;
            margin-bottom: 0;
            height: 123px;
        }
        .number-rate__img {
            width: 205px;
        }
        .number-rate__name-price-rating-reviews {
            width: 210px;
            .number-rate__line {
                width: 200px;
            }
        }
    }
    .search-room__room-list-text {
        width: 55vw;
    }
    .search-room__room-list {
        min-width: 550px;
        margin: 0 auto;
    }
}

@media(max-width: 935px) {
    .search-room {
        .search-room__filter {
            margin-top: 90px;
            margin-right: 50px;
        }
        .search-room-room-list__rooms {
            grid-template-rows: 8px 8px 8px 8px 8px;
            grid-template-columns: 12px 12px;
            grid-gap: 26vw;
        }
    }
    .number-rate-container {
        width: 225px;
        height: 213px;
        .number-rate__photo-slider {
            width: 225px;
            margin-bottom: 0;
            height: 123px;
        }
        .number-rate__img {
            width: 225px;
        }
        .number-rate__name-price-rating-reviews {
            width: 220px;
            .number-rate__line {
                width: 220px;
            }
        }
    }
    .search-room__room-list-text {
        width: 50vw;
    }
    .search-room__room-list {
        min-width: 550px;
        margin: 0 auto;
    }
}
@media(max-width: 806px) {
    .search-room {
        .search-room__filter {
            margin-right: 80px;
        }
        .search-room-room-list__rooms {
            grid-template-rows: 8px 8px 8px 8px 8px 8px 8px 8px 8px 8px 8px;
            grid-template-columns: 12px;
            grid-gap: 250px;
        }
    }
    .number-rate-container {
        width: 270px;
        height: 257px;
        .number-rate__photo-slider {
            width: 270px;
            margin-bottom: 10px;
            height: 151px;
        }
        .number-rate__img {
            width: 270px;
        }
        .number-rate__name-price-rating-reviews {
            width: 220px;
            .number-rate__line {
                width: 220px;
            }
        }
    }
}
@media(max-width: 630px) {
    .search-room {
        .search-room__filter {
            margin-right: 30px;
        }
        .search-room-room-list__rooms {
            grid-template-rows: 8px 8px 8px 8px 8px 8px 8px 8px 8px 8px 8px;
            grid-template-columns: 12px;
            grid-gap: 220px;
        }
    }
    .number-rate-container {
        width: 225px;
        height: 213px;
        .number-rate__photo-slider {
            width: 225px;
            margin-bottom: 0;
        }
        .number-rate__img {
            width: 225px;
        }
        .number-rate__name-price-rating-reviews {
            width: 220px;
            .number-rate__line {
                width: 220px;
            }
        }
    }
    .wrap {
        padding-left: 5%;
    }
}
@media(max-width: 522px) {
    .search-room {
        display: flex;
        flex-wrap: wrap; //позволяет флексам занять несколько строк при сужении страницы. удобно т.к. 'flex-direction: column' почему-то не позволяет разместить элементы по середине страницы
    }
}