.search-room {
    display: flex;
    .search-room__filter {
        margin-top: 30px;
        width: 266px;
        margin-right: 60px;
        *, *:before, *:after {
            -webkit-border-sizing: border-box;
            -moz-border-sizing: border-box;
            box-sizing: border-box;
        }
    }
    .search-room__room-list {
        margin-top: 11px;
        .search-room__room-list-text {
            font-size: 24px;
            font-family: 'Open Sans';
            color: #1F2041;
        }
        .search-room__room-list-pagination {
            padding: 0 290px;
            margin-top: 40px;
            margin-bottom: 75px;
        }
    }
    .search-room-room-list__rooms {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }
}
@media(max-width: 1240px) {
    .search-room {
        .search-room__filter {
            margin-right: 1.5vw;
        }
        .search-room-room-list__rooms {
            grid-template-rows: repeat(6, 1fr);
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 0.8rem;
        }
    }
    .number-rate-container {
        width: 100%;
        height: 243px;
        .number-rate__photo-slider {
            width: 100%;
            margin-bottom: 0;
            img{
                width: 100%;
            }
        }
        .number-rate__img {
            width: 100%;
        }
        .number-rate__name-price-rating-reviews {
            width: 100%;
            .number-rate__line {
                width: 100%;
            }
        }
    }
    .search-room__room-list-text {
        width: 50vw;
    }
    .search-room__room-list {
        min-width: 75%;
    }
}

@media(max-width: 1052px) {
    .search-room__room-list {
        min-width: 74%;
    }
}
@media(max-width: 1000px) {
    .search-room__room-list {
        min-width: 73%;
    }
}
@media(max-width: 965px) {
    .search-room__room-list {
        min-width: 72%;
    }
}
@media(max-width: 930px) {
    .search-room__room-list {
        min-width: 70%;
    }
}
@media(max-width: 880px) {
    .number-rate-container {
        height: 203px;
        .number-rate__photo-slider {
            height: 113px;
        }
    }
    .search-room__room-list {
        min-width: 68%;
    }
}

@media(max-width: 845px) {
    .search-room {
        .number-rate-container {
            height: 255px;
            margin-bottom: 10px;
        }
        .search-room__filter {
            margin-top: 90px;
        }
        .search-room-room-list__rooms {
            display: block;
            margin-bottom: 0;
        }
        .search-room__room-list {
            min-width: 70%;
            .search-room__room-list-pagination {
                padding: 0 120px;
            }
        }
    }
    .number-rate-container {
        width: 90%;
        .number-rate__photo-slider {
            height: 243px;
        }
        .number-rate__photo-slider {
            margin-bottom: 0;
            img{
                width: 100%;
            }
        }
        .number-rate__img {
            width: 100%;
        }
        .number-rate__name-price-rating-reviews {
            width: 100%;
            .number-rate__line {
                width: 100%;
            }
        }
    }
    .search-room__room-list-text {
        width: 50vw;
    }
}
// @media(max-width: 840px) {
//     .search-room {
//         .search-room__room-list {
//             min-width: 68%;
//         }
//     }
// }
// @media(max-width: 806px) {
//     .search-room {
//         .search-room__room-list {
//             min-width: 65%;
//         }
//     }
// }
@media(max-width: 760px) {
    .search-room {
        .search-room__room-list {
            min-width: 65%;
        }
    }
}
@media(max-width: 720px) {
    .search-room {
        .search-room__room-list {
            min-width: 63%;
        }
    }
}
@media(max-width: 690px) {
    .search-room {
        .search-room__room-list {
            min-width: 60%;
        }
    }
}
@media(max-width: 650px) {
    .search-room {
        .search-room__room-list {
            min-width: 58%;
        }
    }
}
@media(max-width: 625px) {
    .search-room {
        .number-rate-container {
            height: 253px;
        }
        .search-room__room-list {
            min-width: 56%;
        }
    }
}
@media(max-width: 610px) {
    .search-room {
        .number-rate-container {
            height: 240px;
        }
        .search-room__room-list {
            min-width: 53%;
        }
    }
}
@media(max-width: 596px) {
    .search-room {
        .number-rate-container {
            height: 215px;
        }
        .search-room__filter {
            margin-right: 30px;
        }
        .search-room-room-list__rooms {
            grid-template-rows: 8px 8px 8px 8px 8px 8px 8px 8px 8px 8px 8px;
            grid-template-columns: 12px;
            grid-gap: 220px;
        }
        .search-room__room-list {
            min-width: 50%;
            .search-room__room-list-pagination {
                padding: 0;
            }
        }
    }
    .number-rate-container {
        width: 225px;
        height: 213px;
        .number-rate__photo-slider {
            width: 225px;
            margin-bottom: 0;
            .number-rate__btn-previous, .number-rate__btn-next {
                height: 126px;
            }
        }
        .number-rate__img {
            width: 225px;
        }
        .number-rate__name-price-rating-reviews {
            width: 220px;
            .number-rate__line {
                width: 220px;
            }
        }
    }
    .wrap {
        padding-left: 5%;
    }
}
@media(max-width: 568px) {
    .search-room {
        padding-left: 10px;
        .search-room__filter {
            margin-right: 20px;
        }
    }
}
@media(max-width: 541px) {
    .search-room {
        display: block;
        margin: 0 auto;
        width: 100%;
        .search-room__filter {
            margin-top: 10px;
        }
        .number-rate-container {
            width: 100%;
            height: 295px;
            .number-rate__photo-slider {
                width: 100%;
                // height: 108px;
                margin-bottom: 0;
                .number-rate__btn-previous, .number-rate__btn-next {
                    height: 151px;
                }
            }
            .number-rate__img {
                width: 100%;
            }
            .number-rate__name-price-rating-reviews {
                width: 100%;
                .number-rate__line {
                    width: 100%;
                }
            }
        }
        .search-room-room-list__rooms {
            grid-gap: 250px;
        }
        .search-room__room-list {
            .search-room__room-list-pagination {
                padding: 0;
                margin-left: 15px;
            }
        }
    }
}