.reviews-room__impressions {
    width: 311px;
}

.circle-list {
    position: relative;
    
}

.reviews-room__list {
    position: absolute;
    left: 110px;
    top: 13px;
    color: rgba(31, 32, 65, 0.75);
    line-height: 24px;
    li:before{
        content: '';
        display: inline-block;
        height: 10px;
        width: 10px;
        border-radius:50%;
        margin-right:5px;
        background: rgb(255,186,156);
        background: linear-gradient(0deg, rgba(255,186,156,1) 0%, rgba(255,227,156,1) 100%);
    }
    li:nth-child(3):before {
        background: rgb(188,156,255);
        background: linear-gradient(174deg, rgba(188,156,255,1) 0%, rgba(139,164,249,1) 100%);
    }
    li:nth-child(2):before {
        background: rgb(111,207,151);
        background: linear-gradient(174deg, rgba(111,207,151,1) 0%, rgba(102,210,234,1) 100%);
    }
    li:nth-child(4):before {
        background: rgb(145,145,145);
        background: linear-gradient(174deg, rgba(145,145,145,1) 0%, rgba(61,73,117,1) 100%);
    }
}
.reviews-room__info {
    .reviews-room__title {
        margin-top: 0;
    }
}
.reviews-room__impressions {
    .reviews-room__title {
        margin-top: 0;
    }
}
.reviews-room__title {
    font-size: 19px;
    font-family: 'Open Sans';
    color: #1F2041;
    margin-bottom: 22px;
}
@import'../__circle/__circle.scss';

.reviews-room__circle {
    margin-left: 0;
}