.room__reviews-comments {
    margin-bottom: 3px;
    color: rgba(31, 32, 65, 0.75);
    .room__reviews-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 11px;
        .room__reviews-titlenum {
            font-size: 14px;
            font-weight: 400;
            color: rgba(31, 32, 65, 0.5);
            margin-right: 3.5px;
            margin-top: 4px;
        }
    }
    .room__reviews-comment {
        display: flex;
    }
    .room__reviews-avatar {
        position: absolute;
        left: -20px;
        top: -1.5px;
    }
    .room__reviews-like {
        display: flex;
        margin-top: 64px;
        border-radius: 10px;
        width: 32px;
        height: 12px;
        padding: 3px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        background: #fff;
        z-index: 2;
        outline: none;
        cursor: pointer;
    }
    .room__reviews-likenum {
        color: rgba(31, 32, 65, 0.466);
        font-size: 9px;
        margin-top: 1px;
    }
    .room__reviews-like_active {
        border-color: #BC9CFF;
        color: #BC9CFF;
    }
    .room__reviews-heart, .room__reviews-heart_liked {
        width: 9px;
        margin-top: 2px;
        margin-left: 2px;
        margin-right: 6px;
        background-repeat: no-repeat;
    }
    .room__reviews-heart {
        background-image: url(../img/reviews-room__comment/like-2.svg);
    }
    .room__reviews-heart_liked {
        background-image: url(../img/reviews-room__comment/like.svg);
    }
    .room__reviews-comment1, .room__reviews-comment2 {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-right: 10px;
        padding-top: 5px;
        position: relative;
        width: 47.67px;
    }
    .room__reviews-comment-name {
        font-weight: 800;
        margin-bottom: 0px;
    }
    .room__reviews-comment-days {
        margin-top: 8px;
    }
    .room__reviews-commenttxt {
        width: 653px;
        line-height: 24px;
    }
}

// .room__reviews-list {
//     width: 260px;
// }