.guests__dropdown-menu {
    width: 266px;
    .guests__circle-plus {
        top: -4px;
		left: -3px;
    }
    .guests__circle-minus {
        top: -3px;
		left: -5px;
    }
}
.search-room__filter-titles {
    font-size: 12px;
    text-transform: uppercase;
    color: #1F2041;
    margin: 0;
}
.search-room__filter-dates {
    margin-bottom: 23px;
}
.search-room__filter-titles-dates {
    margin-bottom: 5px;
}
.search-room__filter-guests-space, .search-room__filter-convenience-space {
    height: 5px;
}
.search-room__filter-titles-price {
    margin-top: 22px;
    margin-bottom: 13px;
}
.search-room__filter-price-clarification {
    margin-bottom: 30px;
}
.search-room__filter-titles-checkbox {
    margin-bottom: 19px;
}
.search-room__filter-titles-accessibility {
    margin-bottom: 19px;
}
.search-room__filter-titles-convenience {
    margin-bottom: 5px;
}
.search-room__filter-titles-convenience-additional {
    margin-top: 2px;
    margin-left: -10px;
    margin-bottom: -1px;
}
.search-room__title-input-price {
    display: flex;
    line-height: 34px;
}
.search-room__filter-price-clarification {
    font-size: 12px;
    color: rgba(31, 32, 65, 0.5);
}
.search-room__filter-checkbox {
    margin-bottom: 20px;
    .search-room__filter-span-checkbox:nth-child(3) {
        width: 200px;
    }
}
.search-room__filter-checkbox, .search-room__filter-convenience-additional {
    align-items: flex-start;
    label {
        display: flex;
        color: rgba(31, 32, 65, 0.5);
    }
}
.search-room__filter-checkbox, .search-room__filter-accessibility, .search-room__filter-convenience-additional {
    input {
        opacity: 0;
    }
    .search-room__filter-fake-checkbox {
        width: 20px;
        height: 20px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        float: left;
        position: relative;
        left: -13px;
        margin-right: -2px;
    }
    .search-room__filter-fake-checkbox:before {
        content: '';
        position: absolute;
        background-image: url(../img/Vector.svg);
        width: 10px;
        height: 10px;
        transition: 0.4s;
        opacity: 0;
        left: 4px;
        top: 3px;
    }
    input:checked + .search-room__filter-fake-checkbox:before {
        opacity: 1;
    }
    input:checked + .search-room__filter-fake-checkbox {
        border: 1px solid #BC9CFF;
    }
    .search-room__filter-span-checkbox, .search-room__filter-span-convenience-additional {
        margin-bottom: 12px;
        line-height: 18px;
    }
}
.search-room__filter-accessibility {
    margin-bottom: 32px;
    .search-room__filter-fake-checkbox {
        left: 0;
        top: -2px;
    }
    .search-room__filter-span-accessibility {
        font-weight: 800;
        color: rgba(31, 32, 65, 0.75);
    }
    .search-room__filter-clarification-accessibility {
        margin-left: 30px;
        font-size: 12px;
        color: rgba(31, 32, 65, 0.5);
        margin-top: 8px;
        width: 230px;
    }
}
