
.button {
    color: #8BA4F9;
    background: transparent;
    font-weight: 600;
    font-size: 12px;
    border: 2px solid #BC9CFF;
    padding: 7px 19px;
    border-radius: 22px;
    &:hover {
        background: rgba(139,164,249,0.68);
        color: white;
        border: 2px solid #8BA4F9;
    }
    &:focus {
        background: rgba(139,164,249);
    }
}
.button-color {
    color: white;
    background: linear-gradient(180deg, rgba(188,156,255,1) 0%, rgba(139,164,249,1) 100%);
    &:focus {
        background: white;
        color: #8BA4F9;
    }
}
.sign-up-form__button-pay, .sign-in-form__button-sign-in {
    width: 320px;
    height: 44px;
    text-transform: uppercase;
}
