head
    link(href="blocks/search-room/search-room__filter/search-room__filter-convenience/search-room__filter-convenience.scss" rel="stylesheet" type="text/css")
body
    .dropdown
        .convenience__container
            ul
                li.convenience__dropdown
                    .convenience__bedroom-bed
                        a.convenience__text(href="index.pug" data-toggle="dropdown") 0<span class="convenience__text-bed"></span><span class="convenience__text-bathroom"></span>   
                        img.convenience__arrow-down(src="img/arrow_down.svg" alt="button")
                    ul.convenience__dropdown-menu
                        .convenience__dropdown-content
                            li.convenience__number
                                span.convenience__title спальни
                                .convenience__amount.bedroom__number
                                    button.convenience__minus.convenience__minus-bedroom -
                                        .convenience__circle.convenience__circle-minus.convenience__circle-minus-bedroom
                                    input.convenience__input(type="text" value="0" size="5" readonly)
                                    button.convenience__plus.convenience__plus-bedroom +
                                        .convenience__circle.convenience__circle-plus.convenience__circle-plus-bedroom
                            li.convenience__number
                                span.convenience__title кровати
                                .convenience__amount.bed__number
                                    button.convenience__minus.convenience__minus-bed -
                                        .convenience__circle.convenience__circle-minus.convenience__circle-minus-bed
                                    input.convenience__input(type="text" value="0" size="5" readonly)
                                    button.convenience__plus.convenience__plus-bed +
                                        .convenience__circle.convenience__circle-plus.convenience__circle-plus-bed
                            li.convenience__number
                                span.convenience__title ванные комнаты
                                .convenience__amount.bathroom__number
                                    button.convenience__minus.convenience__minus-bathroom -
                                        .convenience__circle.convenience__circle-minus.convenience__circle-minus-bathroom
                                    input.convenience__input(type="text" value="0" size="5" readonly)
                                    button.convenience__plus.convenience__plus-bathroom +
                                        .convenience__circle.convenience__circle-plus.convenience__circle-plus-bathroom
    script(src="blocks/search-room/search-room__filter/search-room__filter-convenience/search-room__filter-convenience.js")