.convenience__arrow-down {
	position: absolute;
	bottom: 8px;
	right: 9px;
}
.convenience__bedroom-bed {
	display: flex;
	cursor: pointer;
	#convenience__text {
		color: rgba(31, 32, 65, 0.75);
	}
	#convenience__text:active {
		color: rgba(31, 32, 65, 0.75);
	}
	.convenience__text-bathroom {
		margin-top: 10px;
	}
}

.convenience__dropdown-menu {
	padding-inline-start: 0;
	border: 1px solid rgba(31, 32, 65, 0.5);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	width: 266px;
	padding-left: 15px;
	display: none;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	.convenience__dropdown-content {
		margin-top: 11px;
	}
	.convenience__amount {
		margin-right: 8px;
	}
	.convenience__number {
		margin-bottom: 15px;
		display: flex;
		justify-content: space-between;
		&:nth-child(3) {
			margin-bottom: 10px;
		}
	}
	.convenience__input {
		border: none;
		width: 39px;
		background-color: transparent;
		text-align: center;
		font-weight: 800;
		color: #1F2041;
		outline: none;
	}
	.convenience__minus, .convenience__plus {
		font-size: 18px;
		font-weight: 400;
		color: rgba(31, 32, 65, 0.5);
		border: none;
		background-color: transparent;
		outline: none;
	}
	.convenience__circle {
		cursor: pointer;
		width: 30px;
		height: 30px;
		border-radius: 22px;
		background-color: transparent;
		border: 1px solid rgba(31, 32, 65, 0.25);
	}
	.convenience__minus {
		position: relative;
	}
	.convenience__minus-bedroom, .convenience__circle-minus-bedroom, .convenience__minus-bed, .convenience__circle-minus-bed, .convenience__minus-bathroom, .convenience__circle-minus-bathroom {
		color: rgba(31, 32, 65, 0.25);
		border-color: rgba(31, 32, 65, 0.15);
	}
	.convenience__circle-minus {
		position: absolute;
		top: -4px;
		left: -6px;
	}
	.convenience__plus {
		position: relative;
	}
	.convenience__circle-plus {
		position: absolute;
		top: -5px;
		left: -4px;
	}
}

.text-center {
  text-align: center;
}

.convenience__container {
	width: 100%;
	// margin: 50px auto;
  
  & > ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
  }
}

// =============================================================================
//	Mixins and Variables
// =============================================================================

$blue: #2980B9;
$gray: #EEE;

@mixin ul-nostyle {
	list-style: none;
	padding: 0;
	margin: 0;
}



@mixin hover-style($color) {
	&:hover {
		background: lighten($color, 3%);
	}
}

@mixin animation($content) {
  animation: $content;
  -moz-animation: $content;
  -webkit-animation: $content;
}

@mixin keyframes($name) {
  @keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-webkit-keyframes #{$name} { @content; }
}

// =============================================================================
//	Classes dropdown
// =============================================================================

.title {
  font-family: 'Pacifico';
  font-weight: norma;
  font-size: 40px;
  text-align: center;
  line-height: 1.4;
  color: $blue;
}

.convenience__dropdown {
	a {
		text-decoration: none;
	}

	.convenience__bedroom-bed {
		font-weight: normal;
		font-size: 14px;
		position: relative;
		display: block;
		color: rgba(31, 32, 65, 0.75);
		border: 1px solid rgba(31, 32, 65, 0.25);
		border-radius: 4px;
		width: 266px;
		height: 44px;
		padding: 10px;
		text-transform: none;
	}
	.icon-arrow {
		position: absolute;
		display: block;
		font-size: 0.7em;
		color: #fff;
		top: 14px;
		right: 10px;

		

		&:before {
			content: '\25BC';
		}
	}

	.convenience__dropdown-menu {
		max-height: 0;
		overflow: hidden;

		li {
			padding: 0;

			a {
				display: block;
				color: darken($gray, 50%);
				background: $gray;
				padding: 10px 10px;
			}
		}
	}

	.show {
		display: block;
		max-height: 9999px;
	}

	.hide {
		max-height: 0;
	}
}