
.search-room__filter-convenience-additional__dropdown-menu {
	padding-inline-start: 0;
	margin-left: 0;
	.search-room__filter-convenience-additional__dropdown-content {
		margin-top: 11px;
	}
	

}
.text-center {
  text-align: center;
}

.search-room__filter-convenience-additional__container {
	width: 100%;
  
  & > ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
  }
}

// =============================================================================
//	Mixins and Variables
// =============================================================================

$blue: #2980B9;
$gray: #EEE;

@mixin ul-nostyle {
	list-style: none;
	padding: 0;
	margin: 0;
}



@mixin hover-style($color) {
	&:hover {
		background: lighten($color, 3%);
	}
}

@mixin animation($content) {
  animation: $content;
  -moz-animation: $content;
  -webkit-animation: $content;
}

@mixin keyframes($name) {
  @keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-webkit-keyframes #{$name} { @content; }
}

// =============================================================================
//	Classes
// =============================================================================

.title {
  font-family: 'Pacifico';
  font-weight: norma;
  font-size: 40px;
  text-align: center;
  line-height: 1.4;
  color: $blue;
}

.search-room__filter-convenience-additional__dropdown {
	a {
		text-decoration: none;
	}

	[data-toggle='dropdown'] {
		position: relative;
		display: block;
		color: white;
		padding: 10px;

	}
	.icon-arrow {
		position: absolute;
		display: block;
		font-size: 0.7em;
		color: #fff;
		top: 14px;
		right: 10px;

		

		&:before {
			content: '\25BC';
		}
	}

	.search-room__filter-convenience-additional__dropdown-menu {
		max-height: 0;
		overflow: hidden;

		li {
			padding: 0;

			a {
				display: block;
				color: darken($gray, 50%);
				background: $gray;
				padding: 10px 10px;
			}
		}
	}

	.show {
		display: block;
		max-height: 9999px;
	}

	.hide {
		max-height: 0;
	}
}
.search-room__filter-convenience-additional {
    overflow: hidden;
    .search-room__filter-fake-checkbox {
        float: none;
    }
}
#search-room__filter-convenience-additional__text {
	position: relative;
}
.search-room__filter-convenience-additional__arrow-down {
	position: absolute;
	bottom: 3px;
	right: 10px;
}