@import'room__reviews-info/room__reviews-info.scss';
@import'room__reviews-impressions/room__reviews-impressions.scss';
@import'room__reviews-comment/room__reviews-comment.scss';
@import'room__reviews-rules-cancel/room__reviews-rules-cancel.scss';


.reviews-room {
    width: 712px;
}

.reviews-room__information {
    display: flex;
}



//MEDIA
@media(max-width: 1215px) {
    .reviews-room__reviews {
        .reviews-room__title-num {
            display: none;
        }
    }
}

@media(max-width: 1122px) {
    .room__content {
        position: relative;
        width: 700px;
        .reviews-room {
            margin: 0 auto;
            position: relative;
            .reviews-room__information {
                display: block;
            }
        }
        .reservation__container {
            position: relative;
            right: 350px;
            width: 370px;
            padding: 9px 25px 30px 25px;
        }
    }
}
@media(max-width: 805px) {
    .room__content {
        padding: 0;
        width: auto;
        margin: 0;
        flex-direction: column;
        justify-content: center;
        .reviews-room {
            width: 600px;
            padding-left: 50px;
            .reviews-room__information {
                display: flex;
            }
            .reviews-room__info {
                margin-right: 2vw;
            }
            .reviews-room__circle {
                left: 60px;
            }
            .reviews-room__list {
                top: 120px;
                left: 15px;
            }
            .reviews-room__space {
                margin-bottom: 20px;
            }
            .reviews-room__title {
                margin: 0;
                margin-bottom: 10px;
            }
            .reviews-room__rules-cancel {
                justify-content: unset;
                .reviews-room__cancel-text {
                    width: 80%;
                    margin: 0;
                }
            }
        }
        .reservation__container {
            position: static;
            margin: auto;
            margin-bottom: 50px;
        }
    }
    .reviews-room__reviews {
        .reviews-room__comment-text {
            max-width: 72%;
        }
        .reviews-room__title-num {
            display: none;
        }
    }
    .reviews-room__space {
        margin-bottom: 60px;
    }
    .reviews-room__rules-cancel {
        .reviews-room__rules {
            .reviews-room__title {
                margin: 0;
            }
        }
    }
}

@media(max-width: 760px) {
    .room__photos {
        .room__photo-1 {
            display: none;
        }
        .room__photo-1-repeat {
            display: block;
            background-size: cover;
        }
    }
}

@media(max-width: 615px) {
    
    .room__content {
        .reviews-room { 
            margin: auto;
            .reviews-room__reviews {
                .reviews-room__comment {
                    .reviews-room__comment-text {
                        max-width: 95%;
                        width: 95%;
                    }
                }
            }
            .reviews-room__information {
                width: 400px;
                display: block;
                margin: auto;
                margin-bottom: 65px;
                .reviews-room__info {
                    margin-bottom: 65px;
                }
                .reviews-room__circle-list {
                    display: flex;
                    justify-content: space-between;
                }
                .reviews-room__circle {
                    margin: 0;
                    left: 0;
                }
                .reviews-room__list {
                    position: static;
                    padding: 0;
                }
            }
        }
    }
}
@media(max-width: 596px) {
    .room__content {
        padding-left: 0;
        .reviews-room { 
            margin: 0;
            width: 500px;
            padding-left: 0;
            .reviews-room__information {
                width: 400px;
                padding-left: 100px;
                display: block;
                margin-bottom: 65px;
                .reviews-room__circle-list {
                    display: flex;
                    justify-content: space-between;
                }
                .reviews-room__circle {
                    margin: 0;
                    left: 0;
                }
                .reviews-room__list {
                    position: static;
                    padding: 0;
                }
            }
        }
    }
}