@import'room__reviews-info/room__reviews-info.scss';
@import'room__reviews-impressions/room__reviews-impressions.scss';
@import'room__reviews-comment/room__reviews-comment.scss';
@import'room__reviews-rules-cancel/room__reviews-rules-cancel.scss';


.room__reviews {
    width: 712px;
}

.room__reviews-information {
    display: flex;
}



//MEDIA
@media(max-width: 1215px) {
    .room__reviews-comments {
        .room__reviews-titlenum {
            display: none;
        }
    }
}

@media(max-width: 1122px) {
    .room__content {
        position: relative;
        width: 700px;
        .room__reviews {
            margin: 0 auto;
            position: relative;
            .room__reviews-information {
                display: block;
            }
        }
        .reservation__container {
            position: relative;
            right: 350px;
            width: 370px;
            padding: 9px 25px 30px 25px;
        }
    }
}
@media(max-width: 805px) {
    .room__content {
        padding: 0;
        width: auto;
        margin: 0;
        flex-direction: column;
        justify-content: center;
        .room__reviews {
            width: 600px;
            padding-left: 50px;
            .room__reviews-information {
                display: flex;
            }
            .room__reviews-info {
                margin-right: 2vw;
            }
            .room__reviews-circle {
                left: 60px;
            }
            .room__reviews-list {
                top: 120px;
                left: 15px;
            }
            .room__reviews-space {
                margin-bottom: 20px;
            }
            .room__reviews-title {
                margin: 0;
                margin-bottom: 10px;
            }
            .room__reviews-rulcancel {
                justify-content: unset;
                .room__reviews-canceltxt {
                    width: 80%;
                    margin: 0;
                }
            }
        }
        .reservation__container {
            position: static;
            margin: auto;
            margin-bottom: 50px;
        }
    }
    .room__reviews-comments {
        .room__reviews-commenttxt {
            max-width: 72%;
        }
        .room__reviews-titlenum {
            display: none;
        }
    }
    .room__reviews-space {
        margin-bottom: 60px;
    }
    .room__reviews-rulcancel {
        .room__reviews-rules {
            .room__reviews-title {
                margin: 0;
            }
        }
    }
}

@media(max-width: 760px) {
    .room__photos {
        .room__photo-1 {
            display: none;
        }
        .room__photo-1-repeat {
            display: block;
            background-size: cover;
        }
    }
}

@media(max-width: 615px) {
    
    .room__content {
        .room__reviews { 
            margin: auto;
            .room__reviews-comments {
                .room__reviews-comment {
                    .room__reviews-commenttxt {
                        max-width: 95%;
                        width: 95%;
                    }
                }
            }
            .room__reviews-information {
                width: 400px;
                display: block;
                margin: auto;
                margin-bottom: 65px;
                .room__reviews-info {
                    margin-bottom: 65px;
                }
                .room__reviews-circle {
                    display: flex;
                    justify-content: space-between;
                }
                .room__reviews-circle {
                    margin: 0;
                    left: 0;
                }
                .room__reviews-list {
                    position: static;
                    padding: 0;
                }
            }
        }
    }
}
@media(max-width: 596px) {
    .room__content {
        padding-left: 0;
        .room__reviews { 
            margin: 0;
            width: 500px;
            padding-left: 0;
            .room__reviews-information {
                width: 400px;
                padding-left: 100px;
                display: block;
                margin-bottom: 65px;
                .room__reviews-circle {
                    display: flex;
                    justify-content: space-between;
                }
                .room__reviews-circle {
                    margin: 0;
                    left: 0;
                }
                .room__reviews-list {
                    position: static;
                    padding: 0;
                }
            }
        }
    }
}