.reviews-room
    .reviews-room__info
    .reviews-room__impressions
        h2.reviews-room__title Впечатления от номера
        .circle-list
            include __circle/__circle.pug
            ul.reviews-room__list
                li <span>Великолепно
                li <span>Хорошо
                li <span>Удовлетворительно
                li <span>Разочарован
    .reviews-room__reviews
    .reviews-room__rules
    .reviews-room__cancel