.room__reviews-circle
    .votes 
        .votes-num
            span.votes-num_num 260
        .votes-word
            span.votes-word_word голосов
    .quarter//-.quarter1
    .quarter.quarter2
    .quarter.quarter3
    .quarter.quarter4
    .vl
    .hl
    .cutout