.reviews-room {
    width: 712px;
}

.info-impressions {
    display: flex;
}

@import'reviews-room__info/reviews-room__info.scss';
@import'reviews-room__impressions/reviews-room__impressions.scss';
@import'reviews-room__comment/reviews-room__comment.scss';
@import'reviews-room__rules-cancel/reviews-room__rules-cancel.scss';


//MEDIA
@media(max-width: 1215px) {
    .reviews-room__reviews {
        /*.reviews-room__title {
            width: 440px;
        }*/
        .reviews-room__title-num {
            display: none;
        }
    }
}

@media(max-width: 1122px) {
    .reviews-room__reviews {
        .reviews-room__comment-text {
            max-width: 42%;
        }
    }
    .room-content {
        position: relative;
        .reservation__container {
            position: absolute;
            left: 400px;
            top: 200px;
            width: 340px;
            padding: 9px 3px 3px 3px;
        }
    }
}
@media(max-width: 760px) {
    .wrap {
        padding: 0;
        padding-left: 5%;
    }
    .room-content {
        position: relative;
        width: 100%;
        justify-content: center;
        .reviews-room {
            width: 100%;
            margin-top: 500px;
            .reviews-room__info {
                margin-right: 2vw;
            }
            .reviews-room__circle {
                left: 60px;
            }
            .reviews-room__list {
                top: 120px;
                left: 15px;
            }
            .reviews-room__space {
                margin-bottom: 20px;
            }
            .reviews-room__title {
                margin: 0;
                margin-bottom: 10px;
            }
            .reviews-room__rules-cancel {
                justify-content: unset;
                .reviews-room__cancel-text {
                    width: 80%;
                    margin: 0;
                }
            }
        }
        .reservation__container {
            position: absolute;
            left: 40px;
            top: 0;
            width: 340px;
            height: 465px;
            padding: 9px 3px 3px 3px;
            margin-left: 15vw;
        }
    }
    .reviews-room__reviews {
        .reviews-room__comment-text {
            max-width: 72%;
        }
        .reviews-room__title-num {
            display: none;
        }
    }
    .reviews-room__space {
        margin-bottom: 60px;
    }
    .reviews-room__rules-cancel {
        .reviews-room__rules {
            .reviews-room__title {
                margin: 0;
            }
        }
    }
}