.reviews-room {
    width: 712px;
}

.info-impressions {
    display: flex;
}
@import'reviews-room__info/reviews-room__info.scss';
@import'reviews-room__impressions/reviews-room__impressions.scss';
@import'reviews-room__comment/reviews-room__comment.scss';
@import'reviews-room__rules-cancel/reviews-room__rules-cancel.scss';


//MEDIA
@media(max-width: 1215px) {
    .reviews-room__reviews {
        /*.reviews-room__title {
            width: 440px;
        }*/
        .reviews-room__title-num {
            display: none;
        }
    }
}

@media(max-width: 1122px) {
    .reviews-room__reviews {
        .reviews-room__comment-text {
            max-width: 42%;
        }
    }
    .room-content {
        position: relative;
        width: 700px;
        .reviews-room {
            margin: 0 auto;
            position: relative;
        }
        .reservation__container {
            // position: absolute;
            // left: 400px;
            // top: 200px;
            position: relative; //при absolut .reservation__container не увеличивается при открытии dropdown
            right: 350px;
            top: 200px;
            width: 370px;
            padding: 9px 25px 30px 25px;
        }
    }
}
@media(max-width: 760px) {
    .wrap {
        padding: 0;
        padding-left: 5%;
    }
    .room-content {
        position: relative;
        width: 100%;
        justify-content: center;
        .reviews-room {
            width: 100%;
            margin-top: 500px;
            margin-left: 80vw;
            .reviews-room__info {
                margin-right: 2vw;
            }
            .reviews-room__circle {
                left: 60px;
            }
            .reviews-room__list {
                top: 120px;
                left: 15px;
            }
            .reviews-room__space {
                margin-bottom: 20px;
            }
            .reviews-room__title {
                margin: 0;
                margin-bottom: 10px;
            }
            .reviews-room__rules-cancel {
                justify-content: unset;
                .reviews-room__cancel-text {
                    width: 80%;
                    margin: 0;
                }
            }
        }
        .reservation__container {
            position: sticky;
            top: -2px;
            // left: -620px;
            // right: 620px;
            z-index: 2;
            // height: 465px;
            width: 370px;
            padding: 9px 25px 30px 25px;
            // margin-left: 15vw;
            margin-left: 15vw;
        }
    }
    .reviews-room__reviews {
        .reviews-room__comment-text {
            max-width: 72%;
        }
        .reviews-room__title-num {
            display: none;
        }
    }
    .reviews-room__space {
        margin-bottom: 60px;
    }
    .reviews-room__rules-cancel {
        .reviews-room__rules {
            .reviews-room__title {
                margin: 0;
            }
        }
    }
}

@media(max-width: 580px) {
    .room-content {
        .reviews-room {
            margin-right: 80px;
        }
        .reservation__container {
            margin-left: 10vw;
        }
    }
    .info-impressions, .reviews-room__rules-cancel {
        display: block;
        width: 300px;
        margin: 0 auto;
    }
    .info-impressions {
        margin-bottom: 150px;
    }
    .reviews-room__reviews {
        display: block;
        width: 300px;
        margin: 0 auto;
        .reviews-room__comment-text {
            width: 100%;
        }
    }
    .reviews-room__impressions {
        margin-bottom: 0;
        .circle-list {
            .reviews-room__circle {
                left: 5px;
            }
            .reviews-room__list {
                left: -30px;
            }
        }
    }
}
@media(max-width: 555px) {
    .room-content {
        .reviews-room {
            margin-right: 0;
        }
    }
}
@media(max-width: 538px) {
    .room-content {
        .reservation__container {
            margin-left: 6vw;
        }
    }
}
@media(max-width: 500px) {
    .room-content {
        .reservation__container {
            margin-left: 4vw;
        }
    }
}
@media(max-width: 450px) {
    .room-content {
        .reservation__container {
            margin-left: 0;
        }
    }
}
@media(max-width: 430px) {
    .room-content {
        .reservation__container {
            left: 25px;
        }
    }
}
@media(max-width: 410px) {
    .room-content {
        .reservation__container {
            left: 15px;
        }
    }
}
@media(max-width: 392px) {
    .room-content {
        .reservation__container {
            left: 0;
        }
    }
}