.reviews-room
    .info-impressions
        .reviews-room__info
            h2.reviews-room__title Сведения о номере
            img.reviews-room__info-emoticon(src='img/reviews-room__info/emoticon.png' alt='emoticon')
            p.reviews-room__info-text-b Комфорт
            p.reviews-room__info-text Шумопоглощающие стены
            hr.reviews-room__info-line
            img.reviews-room__info-city(src='img/reviews-room__info/city.png' alt='city')
            p.reviews-room__info-text-b Удобство
            p.reviews-room__info-text Окно в каждой из спален
            hr.reviews-room__info-line
            img.reviews-room__info-shot(src='img/reviews-room__info/shot.png' alt='shot')
            p.reviews-room__info-text-b Уют
            p.reviews-room__info-text Номер оснащён камином
        .reviews-room__impressions
            h2.reviews-room__title Впечатления от номера
            .circle-list
                include __circle/__circle.pug
                ul.reviews-room__list
                    li <span>Великолепно
                    li <span>Хорошо
                    li <span>Удовлетворительно
                    li <span>Разочарован
    .reviews-room__reviews
        h2.reviews-room__title Отзывы посетителей номера <span>2 отзыва
        .reviews-room__comment
            .reviews-room__comment-images
                img.reviews-room__comment-avatar(src='img/reviews-room__comment/avatar.png' alt='avatar')
                img.reviews-room__comment-like(src='img/reviews-room__comment/like-2.svg' alt='like')
            .reviews-room__comment-name-text    
                p.reviews-room__comment-name Мурад Сарафанов <span>5 дней назад
                p.reviews-room__comment-text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
        .reviews-room__comment
            .reviews-room__comment-images
                img.reviews-room__comment-avatar(src='img/reviews-room__comment/avatar-2.png' alt='avatar')
                img.reviews-room__comment-like(src='img/reviews-room__comment/like.svg' alt='like')
            .reviews-room__comment-name-text    
                p.reviews-room__comment-name Патрисия Стёклышкова <span>Неделю назад
                p.reviews-room__comment-text Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент
    .rules-cancel
        .reviews-room__rules
        .reviews-room__cancel