.room__reviews-info {
    width: 291px;
    color: rgba(31, 32, 65, 0.75);
    margin-right: 70px;
    .room__reviews-title {
        margin-bottom: 24px;
    }
    .room__reviews-text-b {
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 0;
    }
    .room__reviews-text {
        margin-bottom: 22px;
        margin-top: 10px;
    }
    .room__reviews-emoticon, .room__reviews-city, .room__reviews-shot {
        float: left;
    }
    .room__reviews-emoticon {
        margin-right: 15px;
        margin-left: 4px;
    }
    .room__reviews-city {
        margin-right: 17px;
        margin-left: 6px;
    }
    .room__reviews-shot {
        margin-right: 18px;
        margin-left: 7px;
    }
}

.room__reviews-line {
    width: 280px;
    border: none;
    height: 1px;
    background-color: rgba(31, 32, 65, 0.1);
    margin-bottom: 24px;
}