.number-rate-container {
    width: 270px;
    height: 257px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(31, 32, 65, 0.5);
    .number-rate__photo-slider:hover {
        .number-rate__btn-previous, .number-rate__btn-next {
            opacity: 1;
            transition: 0.4s;
        }
    }
    .number-rate__photo-slider{
        cursor: pointer;
        .number-rate__btn-previous, .number-rate__btn-next {
            opacity: 0;
            cursor: pointer;
            border: none;
            width: 42px;
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
        }
        .number-rate__btn-previous:focus, .number-rate__btn-next:focus {
            outline: transparent;
        }
        .number-rate__btn-next {
            transform: matrix(-1, 0, 0, 1, 0, 0);
        }
        background-image: url(../img/.number-rate__photo-slider.png);
        width: 270px;
        height: 151px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }
    .number-rate__number-price-rating-reviews {
        width: 227px;
        position: relative;
        .number-rate__number-price {
            display: flex;
            justify-content: space-between;
            margin-bottom: -3px;
            .number-rate__number-number {
                font-weight: 800;
                font-size: 14px;
                color: #1F2041;
                .number-rate__number {
                    font-size: 16px;
                }
            }
            .number-rate__number-lux {
                font-size: 12px;
                color: #BC9CFF;
                text-transform: uppercase;
            }
        }
        .number-rate__price, .number-rate__reviews {
            font-weight: 800;
        }
        .number-rate__price-24 {
            font-weight: 400;
            font-size: 12px;
        }
        .number-rate__line {
            position: absolute;
            top: 36px;
            width: 230px;
            height: 2px;
            border: none;
            background: rgba(31, 32, 65, 0.05);
        }
        .number-rate__reviews-rev {
            font-weight: 400;
        }
        .number-rate__rating-reviews {
            display: flex;
            justify-content: space-between;
        }
    }
}