doctype html
html(lang="en")
mixin number-rate__name-price-rating-reviews(name, price, reviews, lux, img, rating)
    head
    body
        .number-rate-container
            .number-rate__photo-slider
                img.number-rate__img(src= img)
                button.number-rate__btn-previous
                    img(src='img/.number-rate__btn.svg')
                button.number-rate__btn-next
                    img(src='img/.number-rate__btn.svg')
            .number-rate__name-price-rating-reviews
                .number-rate__name-price
                    p.number-rate__name-number №&nbsp;
                        span.number-rate__name= name
                        span.number-rate__name-lux= lux
                    p.number-rate__price= price
                        span.number-rate__price-24 &nbsp;в сутки
                hr.number-rate__line
                .number-rate__rating-reviews
                    .number-rate__rating
                        div(id= rating)
                            include ../stars/stars.pug
                            +rating-group-number('rating1', 'rating1', 'rating2', 'rating2', 'rating3', 'rating3', 'rating4', 'rating4', 'rating5', 'rating5')
                            +rating-group-number('rating2_1', 'rating2_1', 'rating2_2', 'rating2_2', 'rating2_3', 'rating2_3', 'rating2_4', 'rating2_4', 'rating2_5', 'rating2_5')
                            +rating-group-number('rating1', 'rating1', 'rating2', 'rating2', 'rating3', 'rating3', 'rating4', 'rating4', 'rating5', 'rating5')
                            +rating-group-number('rating1', 'rating1', 'rating2', 'rating2', 'rating3', 'rating3', 'rating4', 'rating4', 'rating5', 'rating5')
                            +rating-group-number('rating1', 'rating1', 'rating2', 'rating2', 'rating3', 'rating3', 'rating4', 'rating4', 'rating5', 'rating5')
                            +rating-group-number('rating1', 'rating1', 'rating2', 'rating2', 'rating3', 'rating3', 'rating4', 'rating4', 'rating5', 'rating5')
                            +rating-group-number('rating1', 'rating1', 'rating2', 'rating2', 'rating3', 'rating3', 'rating4', 'rating4', 'rating5', 'rating5')
                            +rating-group-number('rating1', 'rating1', 'rating2', 'rating2', 'rating3', 'rating3', 'rating4', 'rating4', 'rating5', 'rating5')
                            +rating-group-number('rating1', 'rating1', 'rating2', 'rating2', 'rating3', 'rating3', 'rating4', 'rating4', 'rating5', 'rating5')
                            +rating-group-number('rating1', 'rating1', 'rating2', 'rating2', 'rating3', 'rating3', 'rating4', 'rating4', 'rating5', 'rating5')
                            +rating-group-number('rating1', 'rating1', 'rating2', 'rating2', 'rating3', 'rating3', 'rating4', 'rating4', 'rating5', 'rating5')
                            +rating-group-number('rating1', 'rating1', 'rating2', 'rating2', 'rating3', 'rating3', 'rating4', 'rating4', 'rating5', 'rating5')
                    p.number-rate__reviews= reviews
                        span.number-rate__reviews-rev &nbsp;Отзывов