 doctype html
html(lang="en")
mixin number-rate__name-price-rating-reviews(name_num, price, reviews, lux, img, rating)
    head
    body
    mixin rating-group-number(num, id, name, num2, id2, name2, num3, id3, name3, num4, id4, name4, num5, id5, name5, checked, checked2)
        .number-rate-container
            .number-rate__photo-slider
                img.number-rate__img(src= img)
                button.number-rate__btn-previous
                    img(src="img/number-rate/.number-rate__btn.svg" alt="button")
                button.number-rate__btn-next
                    img(src="img/number-rate/.number-rate__btn.svg" alt="button")
            .number-rate__name-price-rating-reviews
                .number-rate__name-price
                    p.number-rate__name-number №&nbsp;
                        span.number-rate__name= name_num
                        span.number-rate__name-lux= lux
                    p.number-rate__price= price
                        span.number-rate__price-24 &nbsp;в сутки
                hr.number-rate__line
                .number-rate__rating-reviews
                    .number-rate__rating
                        include ../stars/stars.pug
                    p.number-rate__reviews= reviews
                        span.number-rate__reviews-rev &nbsp;Отзывов