.number-rate-container {
    width: 270px;
    height: 257px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(31, 32, 65, 0.5);
    border-radius: 4px;
    .number-rate__photo-slider:hover {
        .number-rate__btn-previous, .number-rate__btn-next {
            opacity: 1;
            transition: 0.4s;
        }
    }
    .number-rate__photo-slider{
        cursor: pointer;
        width: 270px;
        height: 151px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        position: relative;
        .number-rate__img {
            position: absolute;
            z-index: -1;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        .number-rate__btn-previous, .number-rate__btn-next {
            opacity: 0;
            cursor: pointer;
            border: none;
            width: 42px;
            height: 152px;
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
        }
        .number-rate__btn-previous:hover, .number-rate__btn-next:hover {
            //background: linear-gradient(90deg, rgba(49, 49, 49, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
            transition: 0.4s;
            opacity: 0.7;
            .number-rate__btn-svg {
                transition: 0.8s;
                fill: rgb(205, 206, 214);
                stroke: white;
            }
        }
        .number-rate__btn-previous:focus, .number-rate__btn-next:focus {
            outline: transparent;
        }
        .number-rate__btn-next {
            transform: matrix(-1, 0, 0, 1, 0, 0);
        }
    }
    .number-rate__name-price-rating-reviews {
        width: 227px;
        position: relative;
        .number-rate__name-price {
            display: flex;
            justify-content: space-between;
            margin-bottom: -3px;
            .number-rate__name-number {
                font-weight: 800;
                font-size: 14px;
                color: #1F2041;
                .number-rate__name {
                    font-size: 16px;
                }
            }
            .number-rate__name-lux {
                font-size: 12px;
                color: #BC9CFF;
                text-transform: uppercase;
            }
        }
        .number-rate__price, .number-rate__reviews {
            font-weight: 800;
        }
        .number-rate__price-24 {
            font-weight: 400;
            font-size: 12px;
        }
        .number-rate__line {
            position: absolute;
            top: 36px;
            width: 230px;
            height: 2px;
            border: none;
            background: rgba(31, 32, 65, 0.05);
        }
        .number-rate__reviews-rev {
            font-weight: 400;
        }
        .number-rate__rating-reviews {
            display: flex;
            justify-content: space-between;
        }
    }
}
#number-rate__rating-1 {
    @import '../blocks/_commons/stars/stars.scss';
}
#number-rate__rating-2 {
    @import '../blocks/_commons/stars/stars.scss';
}
#number-rate__rating-3 {
    @import '../blocks/_commons/stars/stars.scss';
}
#number-rate__rating-4 {
    @import '../blocks/_commons/stars/stars.scss';
}
#number-rate__rating-5 {
    @import '../blocks/_commons/stars/stars.scss';
}
#number-rate__rating-6 {
    @import '../blocks/_commons/stars/stars.scss';
}
#number-rate__rating-7 {
    @import '../blocks/_commons/stars/stars.scss';
}
#number-rate__rating-8 {
    @import '../blocks/_commons/stars/stars.scss';
}
#number-rate__rating-9 {
    @import '../blocks/_commons/stars/stars.scss';
}
#number-rate__rating-10 {
    @import '../blocks/_commons/stars/stars.scss';
}
#number-rate__rating-11 {
    @import '../blocks/_commons/stars/stars.scss';
}
#number-rate__rating-12 {
    @import '../blocks/_commons/stars/stars.scss';
}