doctype html
html(lang="en")
    head
        title тест
        link(rel='stylesheet' href='../../../styles/style.scss')
    body
        .number-rate-container
            .number-rate__photo-slider
            .number-rate__number-price-rating-reviews
                .number-rate__number-price
                    p.number-rate__number-number №
                        span.number-rate__number &nbsp;888
                        span.number-rate__number-lux &nbsp;люкс
                    p.number-rate__price 9 990₽
                        span.number-rate__price-24 &nbsp;в сутки
                hr.number-rate__line
                .number-rate__rating-reviews
                    img(src='../../../img/stars.svg').number-rate__rating
                    p.number-rate__reviews 145
                        span.number-rate__reviews-rev &nbsp;Отзывов