doctype html
html(lang="en")
    head
        title Toxin
    body
        include blocks/header/header.pug
        .content.wrap
            .text__content
                a(href='room.pug') Лучшие номера для вашей работы, отдыха и просто вдохновения
        include blocks/footer/footer.pug
        script(src='index.js')