doctype html
html(lang="en")
    head
        title Toxin
    body
        include blocks/_commons/header/header.pug
        .content.wrap
            .content__text
                a(href='room.pug') Лучшие номера для вашей работы, отдыха и просто вдохновения
        include blocks/_commons/footer/footer.pug
        script(src='index.js')