doctype html
html(lang="en")
    head
        title Номер
        link(rel='stylesheet' href='styles/main.scss')
    body
        include blocks/header/header.pug
        .photo-room
            .photo-room__1
            .photo-room__blocks
                .photo-room__2
                .photo-room__3
        .content-room.wrap
        include blocks/footer/footer.pug
        //script(src='index.js')