doctype html
html(lang="en")
    head
        title Номер
        link(rel='stylesheet' href='styles/style.scss')
    body
        include blocks/_commons/header/header.pug
        include blocks/room/photo-room/photo-room.pug
        include blocks/room/content/reviews-room/reviews-room.pug
        include blocks/_commons/footer/footer.pug
        //script(src='index.js')