doctype html
html(lang="en")
    head
        title Toxin
    body
        include blocks/_commons/header/header.pug
        .search-room
            .search-room__filter
            .search-room__room-list
                .search-room-room-list__rooms
                    include blocks/_commons/number-rate/number-rate.pug
                    include blocks/_commons/number-rate/number-rate.pug
                    include blocks/_commons/number-rate/number-rate.pug
                    include blocks/_commons/number-rate/number-rate.pug
                    include blocks/_commons/number-rate/number-rate.pug
                    include blocks/_commons/number-rate/number-rate.pug
                    include blocks/_commons/number-rate/number-rate.pug
                    include blocks/_commons/number-rate/number-rate.pug
                    include blocks/_commons/number-rate/number-rate.pug
                    include blocks/_commons/number-rate/number-rate.pug
                    include blocks/_commons/number-rate/number-rate.pug
                    include blocks/_commons/number-rate/number-rate.pug
        include blocks/_commons/footer/footer.pug
        script(src='index.js')