doctype html
html(lang="en")
    head
        title Номер
        link(rel='stylesheet' href='styles/style.scss')
        link(rel='stylesheet' href='styles/index.scss')
        link(rel='stylesheet' href='blocks/_commons/button/.button.scss')
    body
        include blocks/_commons/header/header.pug
        .sign-up-content
            form.sign-up-form
                .sign-up-form__container
                    h1 Регистрация аккаунта
                    input(type="text" placeholder="Имя" name="name" required)
                    input(type="text" placeholder="Фамилия" name="surname" required)
                    input(type="radio" name="sex" value="male")
                    p Мужчина
                    input(type="radio" name="sex" value="female")
                    p Женщина
                    h3 дата рождения
                    input(type="date" placeholder="ДД.ММ.ГГГГ" name="date" required)
                    h3 данные для входа в сервис
                    input(type="email" placeholder="Email" name="email" required)
                    input(type="password" placeholder="Пароль" name="password" required)
                    input(type="checkbox")
                    p Получать спецпредложения
                    button.button.button-color перейти к оплате
        include blocks/_commons/footer/footer.pug
        //script(src='index.js')