doctype html
html(lang="en")
    head
        title Номер
        link(rel='stylesheet' href='styles/style.scss')
        link(rel='stylesheet' href='styles/index.scss')
        link(rel='stylesheet' href='blocks/_commons/button/.button.scss')
    body
        include blocks/_commons/header/header.pug
        .sign-up-content
            form.sign-up-form
                .sign-up-form__container
                    h2 Регистрация аккаунта
                    .sign-up-form__name-surname
                        input(type="text" placeholder="Имя" name="name" required)
                        input(type="text" placeholder="Фамилия" name="surname" required)
                    .sign-up-form__sex
                        .sign-up-form__male
                            label
                                input(type="radio" name="sex" value="male")
                                span.sign-up-form__fake-radio
                                span.sign-up-form__span-male Мужчина
                        .sign-up-form__female
                            label
                                input(type="radio" name="sex" value="female")
                                span.sign-up-form__fake-radio
                                span.sign-up-form__span-male Женщина
                    h3 дата рождения
                    input(type="date" placeholder="ДД.ММ.ГГГГ" name="date" required)
                    h3 данные для входа в сервис
                    .sign-up-form__email-pass
                        input(type="email" placeholder="Email" name="email" required)
                        input(type="password" placeholder="Пароль" name="password" required)
                    .sign-up-form__checkbox
                        label Получать спецпредложения
                            input(type="checkbox")
                            span.sign-up-form__fake-checkbox
                    button.button.button-color.button-pay перейти к оплате
                    .sign-up-form__sign-in
                        p Уже есть аккаунт на Toxin
                        a(href='').button ВОЙТИ
        include blocks/_commons/footer/footer.pug
        //script(src='index.js')