
.room__reviews-rulcancel {
    color: rgba(31, 32, 65, 0.75);
    display: flex;
    justify-content: space-between;
    margin-bottom: 53px;
    .room__reviews-rules {
        width: 292px;
        .room__reviews-title {
            margin-left: 19px;
        }
        .room__reviews-list {
            padding: 0;
            width: 260px;
            li {
                margin-bottom: 18px;
                &:nth-child(2) {
                    margin-bottom: 15px;
                }
                &:last-child {
                    line-height: 24px;
                }
            }
            li:before{
                content: '';
                display: inline-block;
                height: 10px;
                width: 10px;
                border-radius:50%;
                margin-right:10px;
                background: rgba(31, 32, 65, 0.25);
            }
        }
    }
    .room__reviews-cancel {
        width: 341px;
        margin-right: 10px;
        .room__reviews-title {
            margin-bottom: 18px;
        }
        .room__reviews-canceltxt {
            line-height: 24px;
        }
    } 
}
