.header {
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    .header__box {
        display: flex;
        justify-content: space-between;
        .header__logo {
            margin: 15px 0 13px 0;
        }
        .header__navs {
            display: flex;
            margin-top: 13px;
        }
        .header__nav-bar {
            display: flex;
            justify-content: space-between;
            .vacancy {
                margin-left: 45px;
            }
            .header__nav {
                color: rgba(31, 32, 65, 0.5);
                margin: 0 0 0 1px;
                &:hover {
                    color: rgba(31, 32, 65, 0.75);
                }
                &:focus {
                    color: rgba(31, 32, 65, 0.99);
                }
            }
            li {
                margin-left: 19px;
                position: relative;
                img {
                    position: absolute;
                    bottom: 10px;
                }
            }
        }
        .header__sign {
            display: flex;
            margin: 0;
            .sign-in {
                margin-top: 1em;
                margin-left: 5px;
            }
            .sign-up {
                margin-top: 1em;
                margin-left: 18px;
            }
            @import '../button/.button';
            .btn-menu {
                display: none;
                width: 30px;
                margin-bottom: 0.5em;
                align-items: center;
                border: none;
                background-color: transparent;
                cursor: pointer;
                &:focus {
                    outline: none;
                }
            }
        }
        .header__modal {
            display: none;
            position: absolute;
            top: 71px;
            right: 0;
            z-index: 1;
            width: 15%;
            background-color: rgba(255, 255, 255, 0.95);
        }
    
        //MEDIA
        @media (max-width: 476px) {
            .header__logo {
                margin-right: 5vw;
            }
            justify-content: center;
            .header__sign {
                .button {
                    font-size: 1.9vw;
                    padding: 5px 10px;
                }
            }
        }
        @media (max-width: 565px) {
            .header__sign {
                padding: 0;
                display: flex;
                .sign-in {
                    margin-left: 0;
                }
                .sign-up {
                    margin-left: 8px;
                }
            }
        }
        @media (max-width: 668px) {
            .header__responsive {
                li:nth-child(2) img {
                    left: 50px;
                }
                li:nth-child(5) img {
                    left: 90px;
                }
            }
        }
        @media (max-width: 1055px) {
            .header__nav-bar {
                display: none;
            }
            .header__responsive {
                display: block;
                padding-top: 50px;
                padding-bottom: 15px;
                height: 100px;
                li {
                    position: absolute;
                    right: 500px;
                }
                li:nth-child(1) {
                    top: 80px;
                    left: 37px;
                }
                li:nth-child(2) {
                    top: 100px;
                    left: 37px;
                    img {
                        bottom: -4px;
                    }
                }
                li:nth-child(3) {
                    top: 120px;
                    left: 11px;
                }
                li:nth-child(4) {
                    top: 140px;
                    left: 37px;
                }
                li:nth-child(5) {
                    top: 160px;
                    left: 37px;
                    img {
                        bottom: -3px;
                    }
                }
            }
            .header__sign {
                .btn-menu {
                    display: block;
                    margin-top: 12px;
                }
                .sign-up {
                    margin-right: 8px;;
                }
            }
            .header__modal {
                .header__nav-bar {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin: 0;
                    padding: 10px 0 0 10px;
                    li {
                        margin: 0 0 22px 0;
                        padding: 0 0 0 0;
                        img {
                            bottom: -4px;
                        }
                    }
                }
            }
        }
        


        @media (min-width: 1056px) {
            .header__modal {
                .header__nav-bar {
                    display: none;
                }
            }
        }
    }
}