.header__box {
    display: flex;
    justify-content: space-between;
    .header__logo {
        margin: 15px 0 13px 0;
    }
    .header__navs {
        display: flex;
        margin-top: 13px;
    }
    .header__nav-bar {
        display: flex;
        justify-content: space-between;
        .vacancy {
            margin-left: 45px;
        }
        .header__nav {
            color: rgba(31, 32, 65, 0.5);
            margin: 0 0 0 1px;
            &:hover {
                color: rgba(31, 32, 65, 0.75);
            }
            &:focus {
                color: rgba(31, 32, 65, 0.99);
            }
        }
        li {
            margin-left: 19px;
            position: relative;
            img {
                position: absolute;
                bottom: 10px;
            }
        }
    }
    .header__sign {
        display: flex;
        .sign-in {
            margin-left: 5px;
        }
        .sign-up {
            margin-left: 18px;
        }
        @import '../button/.button';
        .btn-menu {
            display: none;
            width: 30px;
            height: 30px;
            align-items: center;
            margin-top: -6px;
            border: none;
            background-color: transparent;
            &:focus {
                outline: none;
            }
        }
    }
    .header__modal {
        display: none;
        position: absolute;
        top: 71px;
        right: 0;
        width: 15%;
        background-color: rgba(255, 255, 255, 0.95);
    }

    //MEDIA
    @media (max-width: 1055px) {
        .header__nav-bar {
            display: none;
        }
        .header__sign {
            .btn-menu {
                display: block;
            }
            .sign-up {
                margin-right: 8px;;
            }
        }
        .header__modal {
            .header__nav-bar {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 0;
                padding: 10px 0 0 10px;
                li {
                    margin: 0 0 22px 0;
                    padding: 0 0 0 0;
                    img {
                        bottom: -4px;
                    }
                }
            }
        }
    }
    @media (min-width: 1056px) {
        .header__modal {
            .header__nav-bar {
                display: none;
            }
        }
    }
}