header.header
            .box__header.wrap
                a(href='').logo__header
                    img(src='img/logo.svg' alt='logo')
                ul
                    li
                        a(href='').nav__header О нас
                    li
                        a(href='').nav__header Услуги
                        img(src='img/arrow_down.svg')
                    li.vacancy
                        a(href='').nav__header Вакансии
                    li
                        a(href='').nav__header Новости
                    li
                        a(href='').nav__header Соглашения
                        img(src='img/arrow_down.svg')
                    li.sign-in
                        a(href='').button ВОЙТИ
                    li.sign-up
                        a(href='').button.button-color ЗАРЕГИСТРИРОВАТЬСЯ