
.button {
    color: #8BA4F9;
    background-color: transparent;
    font-weight: 800;
    font-size: 12px;
    border: 2px solid #8BA4F9;
    border-radius: 100px;
    padding: 7px 19px;
}
.button-color {
    color: white;
    background-color: #8BA4F9;
}
