.box__header {
    display: flex;
    justify-content: space-between;
    .logo__header {
        margin: 15px 0 13px 0;
    }
    ul {
        display: flex;
        justify-content: space-between;
        margin: 27px 0 0 0;
        .vacancy {
            margin-left: 45px;
        }
        .nav__header {
            color: rgba(31, 32, 65, 0.5);
            margin: 0 0 0 1px;
            &:hover {
                color: rgba(31, 32, 65, 0.75);
            }
            &:focus {
                color: rgba(31, 32, 65, 0.99);
            }
        }
        li {
            margin-left: 18px;
            position: relative;
            img {
                position: absolute;
                bottom: 23px;
            }
        }
        .sign-in {
            margin-left: 45px;
        }
        @import '.button'
    }
}