.top__footer {
    display: flex;
    width: 1440px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 77px;
    margin-bottom: 14px;
    border: 1px solid;
    border-color: rgba(31, 32, 65, 0.25) #fff rgba(31, 32, 65, 0.1) #fff;
    .logo__footer {
        margin-bottom: 15px;
    }
    .text__footer {
        width: 260px;
        color: rgba(31, 32, 65, 0.75);
        line-height: 24px;
    }
    .footer__nav-span {
        font-weight: 700;
        color: #1F2041;
        font-size: 12px;
        }
    .footer__nav {
        display: flex;
        a {
            color: rgba(31, 32, 65, 0.5);
            &:hover {
                color: rgba(31, 32, 65, 0.75);
            }
            &:focus {
                color: rgba(31, 32, 65, 0.99);
            }
        }
        ul {
            margin-top: 3px;
            width: 149px;
            margin-right: 11px;
        }
        li {
            margin-bottom: 22px;
            &:first-child {
                margin-bottom: 23px;
            }
        }
        .column-5__footer {
            li {
                margin-bottom: 19px;
                position: relative;
                p {
                    margin-bottom: 22px;
                }
                input {
                    width: 200px;
                    height: 40px;
                    border: 1px solid rgba(31, 32, 65, 0.25);
                    border-radius: 4px;
                    padding-left: 15px;
                    padding-right: 42px;
                    &:focus {
                        outline: none;
                    }
                    &::placeholder {
                        color: rgba(31, 32, 65, 0.25);
                    }
                }
                button {
                    background-color: transparent;
                    border-color: transparent;
                    position: absolute;
                    right: -106px;
                    bottom: 7px;
                    &:focus {
                        outline: none;
                    }
                    &:hover {
                        cursor: pointer;
                        opacity: 0.75;
                    }
                }
            }
        }
    }
    .footer__responsive-nav {
        .column-2__footer, .column-3__footer, .column-4__footer {
            .fr {
                position:relative;
                z-index: 2;
                cursor: pointer;
                &:hover ul {
                    max-width:300px;
                    max-height: 350px;
                }
                .tr {
                    z-index: 1;
                    background-color: rgba(255, 255, 255, 0.95);
                    position:absolute;
                    text-align:center;
                    top:-5px;
                    left:150px;
                    max-height: 0;
                    max-width:0px;
                    overflow:hidden;
                    -webkit-transition:max-width 0.3s linear;
                    -moz-transition:max-width 0.3s linear;
                    transition:max-width 0.3s linear;
                    li {
                        margin: 0;
                        padding: 15px 80px;
                        border: 1px solid;
                        border-color: rgba(255, 255, 255, 0.95) rgba(255, 255, 255, 0.95) rgba(31, 32, 65, 0.212) rgba(255, 255, 255, 0.95);
                        &:last-child {
                            border-color: rgba(255, 255, 255, 0.95);
                        }
                    }   
                    a {
                        color: rgba(31, 32, 65, 0.5);
                    }
                }
            }
        }
        .column-2__footer {
            .fr {
                .tr {
                    left:150px;
                    top: -20px;
                }
            }
        }
        .column-3__footer {
            .fr {
                .tr {
                    left:150px;
                    top: -70px;
                }
            }
        }
        .column-4__footer {
            .fr {
                .tr {
                    left:150px;
                    top: -125px;
                    li {
                        &:last-child {
                            padding-bottom: 40px;
                        }
                    }
                }
            }
        }
    }
    .footer__responsive-columns {
        display: flex;
    }
    /*.footer__responsive-nav {
        display: none;
        .column-2__footer {
            position: relative;
        }
        .footer__dropdown-content {
            display: none;
            position: absolute;
            right: 180px;
            top: -2px;
            width: 160px;
            background-color: rgba(255, 255, 255, 0.5);
            ul {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                max-height:0px;
                overflow:hidden;
                transition:max-height 1.4s linear;
            }
        }
        .column-2__footer:hover .footer__dropdown-content { 
            display: block;
            max-height: 150px;
            .footer__dropdown-content {
                ul {
                    max-height: 150px;
                }
            }
        }
        .column-2__footer:hover {
            .footer__dropdown-content { 
                display: block;
                max-height: 150px;
                ul {
                    max-height: 150px;
                }
            }
        }
    }*/
}

//MEDIA
// @media (max-width: 860px) {
//     .footer {
//         .wrap {
//             padding-left: 2%;
//         }
//         .top__footer {
//             display: flex;
//             flex-direction: column;
//             // padding-top: 1px; --- перемещено в index.scss
//             .logo__footer {
//                 margin-right: 1%;
//             }
//             .footer__responsive-columns {
//                 display: flex;
//                 justify-content: space-between;
//                 width: 71vw;
//                 padding-top: 40px;
//             }
//             .footer__nav, .footer__responsive-nav {
//                 ul {
//                     padding-left: 10%;
//                 }
//             }
//         }
//         .column-1__footer {
//             display: flex;
//             align-items: center;
//             justify-content: space-between;
//             width: 84vw;
//             .text__footer {
//                 width: 45vw;
//                 text-align: right;
//             }
//         }
//     }
// }
@media (max-width: 1270px) {
    .footer {
        .wrap {
            padding: 0;
        }
        .top__footer {
            width: 100%;
            justify-content: space-around;
            .footer__nav {
                margin-right: 100px;
            }
            .footer__nav-disappear {
                display: none;
            }
            .footer__responsive-nav {
                display: block;
                ul {
                    margin: 4px 0 0 0;
                }
                li {
                    padding-bottom: 36px;
                }
            }
            .column-4__footer {
                li {
                    padding-bottom: 0;
                }
            }
        }
    }
    .bottom__footer {
        .wrap {
            padding: 0 54px 0 54px;
        }
    }
}

@media (min-width: 1270px) {
    .top__footer {
        .footer__responsive-nav {
            display: none;
        }
    }
}    
.bottom__footer {
    .wrap {
        display: flex;
        justify-content: space-between;
    }
    color: rgba(31, 32, 65, 0.75);
    .social {
        width: 112px;
        display: flex;
        justify-content: space-between;
        .btn-social {
            background-image: url(../img/btn-social.svg);
            background-repeat: no-repeat;
            &:hover {
                opacity: 0.75;
            }
            &:focus {
                opacity: 0.95;
            }
        }
        .btn-tw {
            background-position: -1px 10px;
            width: 24px;
            height: 34px;
        }
        
        .btn-fb {
            background-position: -45px 10px;
            width: 24px;
            height: 34px;
        }
        
        .btn-inst {
            background-position: -89px 10px;
            width: 24px;
            height: 34px;
        }
    }
}