footer.footer
    .top__footer-container
        .top__footer.wrap
            .column-1__footer.footer__nav-disappear
                a(href='' alt='logo').logo__footer
                    img(src='img/logo.svg')
                p.text__footer Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            nav.footer__nav.footer__nav-disappear
                .column-2__footer
                    ul
                        li
                            span.footer__nav-span НАВИГАЦИЯ
                        li
                            a(href='').nav__footer О нас
                        li
                            a(href='').nav__footer Новости
                        li
                            a(href='').nav__footer Служба поддержки
                        li
                            a(href='').nav__footer Услуги
                .column-3__footer
                    ul
                        li
                            span.footer__nav-span О НАС
                        li
                            a(href='').nav__footer О сервисе
                        li
                            a(href='').nav__footer Наша команда
                        li
                            a(href='').nav__footer Вакансии
                        li
                            a(href='').nav__footer Инвесторы
                .column-4__footer
                    ul
                        li
                            span.footer__nav-span СЛУЖБА ПОДДЕРЖКИ
                        li
                            a(href='').nav__footer Соглашения
                        li
                            a(href='').nav__footer Сообщества
                        li
                            a(href='').nav__footer Связь с нами
            //-nav.footer__responsive-nav
                .column-2__footer
                    ul
                        li
                            span.footer__nav-span О НАС
                            a.footer__dropdown-content
                                ul.tr
                                    li
                                        a(href='').nav__footer О сервисе
                                    li
                                        a(href='').nav__footer Наша команда
                                    li
                                        a(href='').nav__footer Вакансии
                                    li
                                        a(href='').nav__footer Инвесторы
                .column-3__footer
                    ul
                        li
                            span.footer__nav-span НАВИГАЦИЯ
                .column-4__footer
                    ul
                        li
                            span.footer__nav-span СЛУЖБА ПОДДЕРЖКИ
            .footer__responsive-columns
                nav.footer__responsive-nav
                    .column-2__footer
                        ul
                            li.fr
                                span.footer__nav-span О НАС
                                ul.tr
                                    li
                                        a(href='').nav__footer О&nbsp;сервисе
                                    li
                                        a(href='').nav__footer Наша&nbsp;команда
                                    li
                                        a(href='').nav__footer Вакансии
                                    li
                                        a(href='').nav__footer Инвесторы
                    .column-3__footer
                        ul
                            li.fr
                                span.footer__nav-span НАВИГАЦИЯ
                                ul.tr
                                    li
                                        a(href='').nav__footer О&nbsp;нас
                                    li
                                        a(href='').nav__footer Новости
                                    li
                                        a(href='').nav__footer Служба&nbsp;поддержки
                                    li
                                        a(href='').nav__footer Услуги
                    .column-4__footer
                        ul
                            li.fr
                                span.footer__nav-span СЛУЖБА ПОДДЕРЖКИ    
                                ul.tr
                                    li
                                        a(href='').nav__footer Соглашения
                                    li
                                        a(href='').nav__footer Сообщества
                                    li
                                        a(href='').nav__footer Связь&nbsp;с&nbsp;нами
                .column-1__footer
                    a(href='' alt='logo').logo__footer
                        img(src='img/logo.svg')
                    p.text__footer Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            nav.footer__nav
                .column-5__footer
                    ul
                        li
                            span.footer__nav-span ПОДПИСКА
                        li
                            p.text__footer Получайте специальные предложения и новости сервиса
                        li
                            input(type='email' name='email' placeholder='Email')
                            button(type='submit')
                                img(src='img/arrow_forward.svg')
    .bottom__footer
        .wrap
            p.copyright Copyright © 2018 Toxin отель. Все права зачищены.
            .social
                a(href='' alt='twitter').btn-social.btn-tw
                a(href='' alt='facebook').btn-social.btn-fb
                a(href='' alt='instagram').btn-social.btn-inst