.top__footer-container {
    border: 1px solid;
    border-color: rgba(31, 32, 65, 0.25) #fff rgba(31, 32, 65, 0.1) #fff;
    width: 1440px;
    margin: 0 auto;
}
.top__footer {
    display: flex;
    width: 1440px;
    padding-top: 100px;
    padding-bottom: 62px;
    margin-bottom: 14px;
    .logo__footer {
        margin-bottom: 15px;
    }
    .text__footer {
        width: 260px;
        color: rgba(31, 32, 65, 0.75);
        line-height: 24px;
    }
    .footer__nav-span, .footer__dropdown-toggle {
        font-weight: 700;
        color: #1F2041;
        font-size: 12px;
        }
    .footer__nav {
        display: flex;
        a {
            color: rgba(31, 32, 65, 0.5);
            &:hover {
                color: rgba(31, 32, 65, 0.75);
            }
            &:focus {
                color: rgba(31, 32, 65, 0.99);
            }
        }
        ul {
            margin-top: 3px;
            width: 149px;
            margin-right: 11px;
        }
        li {
            margin-bottom: 22px;
            &:first-child {
                margin-bottom: 23px;
            }
        }
        .column-5__footer {
            .column-5__footer-width {
                position: relative;
            }
            li {
                margin-bottom: 19px;
                position: relative;
                p {
                    margin-bottom: 22px;
                }
                input {
                    width: 200px;
                    padding: 13px 0;
                    border: 1px solid rgba(31, 32, 65, 0.25);
                    border-radius: 4px;
                    padding-left: 15px;
                    padding-right: 42px;
                    outline: none;
                    &:hover, &:focus {
                        border: 1px solid rgba(31, 32, 65, 0.5);
                    }
                    &::placeholder {
                        color: rgba(31, 32, 65, 0.25);
                    }
                }
                button {
                    background-color: transparent;
                    border-color: transparent;
                    position: absolute;
                    right: -106px;
                    bottom: 7px;
                    &:focus {
                        outline: none;
                    }
                    &:hover {
                        cursor: pointer;
                        opacity: 0.75;
                    }
                }
            }
        }
    }
    .footer__responsive-nav {
        .column-2__footer, .column-3__footer, .column-4__footer {
            .footer__dropdown {
                position:relative;
                z-index: 2;
                cursor: pointer;
                &:hover ul {
                    max-width:300px;
                    max-height: 350px;
                }
                .footer__dropdown-menu {
                    z-index: 1;
                    background-color: rgba(255, 255, 255, 0.95);
                    position:absolute;
                    text-align:center;
                    top:-5px;
                    left:150px;
                    max-height: 0;
                    max-width:0px;
                    overflow:hidden;
                    -webkit-transition:max-width 0.3s linear;
                    -moz-transition:max-width 0.3s linear;
                    transition:max-width 0.3s linear;
                    li {
                        margin: 0;
                        padding: 15px 80px;
                        border: 1px solid;
                        border-color: rgba(255, 255, 255, 0.95) rgba(255, 255, 255, 0.95) rgba(31, 32, 65, 0.212) rgba(255, 255, 255, 0.95);
                        &:last-child {
                            border-color: rgba(255, 255, 255, 0.95);
                        }
                    }   
                    a {
                        color: rgba(31, 32, 65, 0.5);
                    }
                }
            }
        }
        .column-2__footer {
            .footer__dropdown {
                .footer__dropdown-menu {
                    left:150px;
                    top: -20px;
                }
            }
        }
        .column-3__footer {
            .footer__dropdown {
                .footer__dropdown-menu {
                    left:150px;
                    top: -70px;
                }
            }
        }
        .column-4__footer {
            .footer__dropdown {
                .footer__dropdown-menu {
                    left:150px;
                    top: -125px;
                    li {
                        &:last-child {
                            padding-bottom: 40px;
                        }
                    }
                }
            }
        }
    }
    .footer__responsive-columns {
        display: none;
    }
    .column-1__footer-850px {
        display: none;
    }
}


.bottom__footer {
    padding-top: 13px;
    .wrap {
        display: flex;
        justify-content: space-between;
    }
    color: rgba(31, 32, 65, 0.75);
    .social {
        width: 112px;
        display: flex;
        justify-content: space-between;
        .btn-social {
            background-image: url(../img/btn-social.svg);
            background-repeat: no-repeat;
            &:hover {
                opacity: 0.75;
            }
            &:focus {
                opacity: 0.95;
            }
        }
        .btn-tw {
            background-position: -1px 10px;
            width: 24px;
        }
        
        .btn-fb {
            background-position: -45px 10px;
            width: 24px;
        }
        
        .btn-inst {
            background-position: -89px 10px;
            width: 24px;
        }
    }
}



//MEDIA
@media (max-width: 1270px) {
    .footer {
        .footer__responsive-columns {
            width: 100%;
            display: flex;
            justify-content: space-around;
            .column-1__footer {
                text-align: center;
                .logo__footer {
                    margin-right: 30px;
                }
                .text__footer {
                    text-align: center;
                    margin-top: 5px;
                }
            }
        }
        .wrap {
            padding-left: 0;
        }
        .top__footer-container {
            width: 100%;
            .top__footer {
                width: 100%;
            }
            .footer__nav {
                margin-right: 150px;
                margin-top: 10px;
            }
            .footer__nav-disappear {
                display: none;
            }
            .footer__responsive-nav {
                display: block;
                text-align: right;
                margin-right: 30px;
                margin-top: 10px;
                ul {
                    margin: 4px 0 0 0;
                }
                li {
                    padding-bottom: 36px;
                }
            }
            .column-4__footer {
                li {
                    padding-bottom: 0;
                }
            }
        }
    }
    .bottom__footer {
        .wrap {
            padding: 0 54px 0 54px;
        }
    }
}

@media (min-width: 1270px) {
    .top__footer {
        .footer__responsive-nav {
            display: none;
        }
    }
}    


@media (max-width: 850px) {
    .column-1__footer {
        display: none;
    }
    .footer {
        .wrap {
            padding-bottom: 0;
            padding-left: 0;
        }
        .top__footer {
            display: grid;
            margin-bottom: 0;
            padding-top: 30px;
        }
        .column-1__footer-850px {
            display: flex;
            justify-content: space-around;
            grid-row-start: 2;
            grid-column-start: 1;
            grid-column-end: 3;
            .logo__footer {
                margin-left: 20px;
            }
            img {
                width: 80px;
                margin-top: 26px;
                margin-bottom: 0;
            }
            .text__footer {
                width: 560px;
                margin-bottom: 45px;
                text-align: right;
                font-size: 11px;
                text-align: center;
                margin-top: 27.5px;
            }
        }
        .footer__responsive-columns {
            grid-row-start: 1;
        }
        .footer__nav {
            grid-row-start: 1;
        }
        .copyright {
            margin-left: 20px;
        }
    }
}
@media (max-width: 650px) {
    .footer {
        .column-1__footer-850px {
            flex-direction: column-reverse;
            margin-bottom: 0;
            max-width: 100vw;
            .text__footer {
                width: 83vw;
                margin-left: 55px;
                margin-bottom: 25px;
            }
            .logo__footer {
                margin: 0 auto;
                margin-bottom: 25px;
                img {
                    margin-top: 0;
                }
            }
        }
    }
    .top__footer .footer__dropdown-toggle {
        font-size: 2vw;
    }
    .top__footer .text__footer {
        font-size: 2vw;
    }
    .top__footer .footer__nav .column-5__footer .column-5__footer-width {
        width: 38vw;
        img {
            margin-top: 5px;
        }
    }
    .top__footer .footer__nav .column-5__footer li input {
        width: 38vw;
    }
    .top__footer .footer__nav .column-5__footer .column-5__footer-width button {
        right: -3.5rem;
        top: 4px;
    }
    .column-5__footer {
        ul {
            padding-left: 0;
        }
        .text__footer {
            width: 50vw;
        }
    }
}
@media (max-width: 548px) {
    .copyright {
        line-height: 25px;
    }
    .btn-social {
        margin-right: 10px;
    }
}
@media (max-width: 490px) {
    .footer {
        .column-1__footer-850px {
            flex-direction: column-reverse;
            margin-bottom: 0;
            max-width: 100vw;
            .text__footer {
                width: 83vw;
                margin-left: 38px;
            }
            .logo__footer {
                margin: 0 auto;
            }
        }
    }
}
@media (max-width: 390px) {
    .copyright {
        font-size: 3vw;
        margin-right: 20px;
    }
    .top__footer .footer__nav .column-5__footer li input {
        width: 36vw;
    }
}