.wrap {
    display: flex;
}
.top__footer {
    width: 1440px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 77px;
    margin-bottom: 14px;
    border: 1px solid;
    border-color: rgba(31, 32, 65, 0.25) #fff rgba(31, 32, 65, 0.1) #fff;
    .logo__footer {
        margin-bottom: 15px;
    }
    p.text__footer {
        width: 260px;
        color: rgba(31, 32, 65, 0.75);
        line-height: 24px;
    }
    .footer__nav-span {
        font-weight: 700;
        color: #1F2041;
        font-size: 12px;
        }
    .footer__nav {
        display: flex;
        a {
            color: rgba(31, 32, 65, 0.5);
            &:hover {
                color: rgba(31, 32, 65, 0.75);
            }
            &:focus {
                color: rgba(31, 32, 65, 0.99);
            }
        }
        ul {
            margin-top: 3px;
            width: 149px;
            margin-right: 11px;
        }
        li {
            margin-bottom: 22px;
            &:first-child {
                margin-bottom: 23px;
            }
        }
        .column-5__footer {
            li {
                margin-bottom: 19px;
                position: relative;
                p {
                    margin-bottom: 22px;
                }
                input {
                    width: 200px;
                    height: 40px;
                    border: 1px solid rgba(31, 32, 65, 0.25);
                    border-radius: 4px;
                    padding-left: 15px;
                    padding-right: 42px;
                    &:focus {
                        outline: none;
                    }
                    &::placeholder {
                        color: rgba(31, 32, 65, 0.25);
                    }
                }
                button {
                    background-color: transparent;
                    border-color: transparent;
                    position: absolute;
                    right: -106px;
                    bottom: 7px;
                    &:focus {
                        outline: none;
                    }
                    &:hover {
                        cursor: pointer;
                        opacity: 0.75;
                    }
                }
            }
        }
    }
    .footer__responsive-nav {
        .column-2__footer, .column-3__footer, .column-4__footer {
            //background-color:red;
            .fr {
                position:relative;
                z-index: 2;
                &:hover ul {
                    min-width:150px;
                    display: block;
                }
                .tr {
                    display: none;
                    z-index: 1;
                    background-color: rgba(255, 255, 255, 0.534);
                    position:absolute;
                    text-align:left;
                    top:-5px;
                    left:110px;
                    max-width:0px;
                    overflow:hidden;
                    -webkit-transition:min-width 0.4s linear;
                    -moz-transition:min-width 0.4s linear;
                    transition:min-width 0.4s linear;
                }
            }
        }
    }
    /*.footer__responsive-nav {
        display: none;
        .column-2__footer {
            position: relative;
        }
        .footer__dropdown-content {
            display: none;
            position: absolute;
            right: 180px;
            top: -2px;
            width: 160px;
            background-color: rgba(255, 255, 255, 0.5);
            ul {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                max-height:0px;
                overflow:hidden;
                transition:max-height 1.4s linear;
            }
        }
        .column-2__footer:hover .footer__dropdown-content { 
            display: block;
            max-height: 150px;
            .footer__dropdown-content {
                ul {
                    max-height: 150px;
                }
            }
        }
        .column-2__footer:hover {
            .footer__dropdown-content { 
                display: block;
                max-height: 150px;
                ul {
                    max-height: 150px;
                }
            }
        }
    }*/
}

//MEDIA
@media (max-width: 1270px) {
    .top__footer {
        .footer__nav-disappear {
            display: none;
        }
        .footer__responsive-nav {
            display: block;
            ul {
                margin: 4px 0 0 0;
            }
            li {
                margin-bottom: 36px;
            }
        }
    }
}

@media (min-width: 1270px) {
    .top__footer {
        .footer__responsive-nav {
            display: none;
        }
    }
}    
.bottom__footer {
    .wrap {
        display: flex;
        justify-content: space-between;
    }
    color: rgba(31, 32, 65, 0.75);
    .social {
        width: 112px;
        display: flex;
        justify-content: space-between;
        .btn-social {
            background-image: url(../img/btn-social.svg);
            background-repeat: no-repeat;
            &:hover {
                opacity: 0.75;
            }
            &:focus {
                opacity: 0.95;
            }
        }
        .btn-tw {
            background-position: -1px 10px;
            width: 24px;
            height: 34px;
        }
        
        .btn-fb {
            background-position: -45px 10px;
            width: 24px;
            height: 34px;
        }
        
        .btn-inst {
            background-position: -89px 10px;
            width: 24px;
            height: 34px;
        }
    }
}