.reviews-room__info {
    width: 291px;
    color: rgba(31, 32, 65, 0.75);
    margin-right: 70px;
    .reviews-room__title {
        margin-bottom: 24px;
    }
    .reviews-room__info-text-b {
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 0;
    }
    .reviews-room__info-text {
        margin-bottom: 22px;
        margin-top: 10px;
    }
    img {
        float: left;
    }
    img.reviews-room__info-emoticon {
        margin-right: 15px;
        margin-left: 4px;
    }
    img.reviews-room__info-city {
        margin-right: 17px;
        margin-left: 6px;
    }
    img.reviews-room__info-shot {
        margin-right: 18px;
        margin-left: 7px;
    }
}

.reviews-room__info-line {
    width: 280px;
    border: none;
    height: 1px;
    background-color: rgba(31, 32, 65, 0.1);
    margin-bottom: 24px;
}